[2014-09-28 22:45] matthiasbeyer opened #7 "Create an organisation/project logo"
It would be pretty neat if we could add an organizations/project logo.

[2014-09-28 22:50] matthiasbeyer opened #8 "Implement: Function attribute macros"
Implement macros for the gcc attributes extension, to use them when compiling with gcc.

Add them under `./src/util/`

[2014-09-28 23:30] matthiasbeyer opened #10 "Decide which JSON lib to use."
We should decide this asap.

[2014-09-28 23:31] matthiasbeyer opened #11 "Prepare build env"
Dependencies:
- libreset
- wayland
- libinput
- check (for testing)
- JSON library decided in #10

Anything else?

[2014-09-28 23:37] matthiasbeyer commented on #10
My fav. would be [yail](http://lloyd.github.io/yajl/).

[2014-09-28 23:52] neithernut commented on #11
icu (unicode)

[2014-09-29 01:39] neithernut commented on #7
My first take on this is uploaded at http://webuser.hs-furtwangen.de/~ganzjuli/waysome.svg. I didn't got the hair quite right, but it's a start.
Comments?

[2014-09-29 01:42] matthiasbeyer commented on #7
Nice. I would make the arms a bit longer, and I would put something on the shirt (like a crossed-out X or something :-P )

[2014-09-29 01:47] neithernut commented on #7
As already stated somewhere else, we may create some flavored versions (HFU logo and stuff).
This is the basic logo without anything on the shirt.

[2014-09-29 01:49] matthiasbeyer commented on #7
Ok. I really like it, ... but maybe we should add something like trouser pockets (just hinted), so it doesn't look like a pyjama!

[2014-09-29 01:49] matthiasbeyer commented on #7
And, well, the hair looks a bit iffy...

[2014-09-29 01:52] neithernut commented on #7
I already pointed out the latter one. I'll try to fix that issues until 2014-09-29T16:00CEST.

[2014-09-29 01:52] matthiasbeyer opened #12 "Switch to multi-branch WF"
As soon as we did the initial setup of the repository, we should switch to a multi-branch WF (four-branch, I guess) and use the "develop" branch as main branch.

master will contain release-commits only from there.

[2014-09-29 01:55] matthiasbeyer commented on #7
Also, if this logo was created by something like metapost or so, we could add a repository containing the logo sources.

I would welcome metapost (or racket?) sources to generate the logo! Would be kind of fun!

[2014-09-29 01:57] neithernut commented on #7
The logo was done in inkscape. Also: svgs are XML. As such, they _are_ editable. (I once "wrote" an svg for a scale.)

[2014-09-29 01:58] matthiasbeyer commented on #7
XML. Yuck. But hey, Inkscape is a great tool, so I don't blame you for using it!

[2014-09-29 02:01] neithernut commented on #7
XML is OK for document and other file formats...
It's just misused in a lot of places.

[2014-09-29 02:03] neithernut opened #13 "Add include guards to header files"
After PR #4 is merged, include guards have to be added to the headers.

[2014-09-29 02:05] neithernut commented on #13
@matthiasbeyer will do this in PR #4 itself.

[2014-09-29 02:09] neithernut opened #14 "Add initial basic module interface of the compositor"
The compositor needs some data for basic operation. For now, these may include:
- OpenGL context
- Some sort of monitor handles (integrated in Objects)

A stub for the initialisation function needs to be added, too.

[2014-09-29 02:11] neithernut opened #15 "Add code for initialisation of the OpenGL/EGL context"
We need to properly initialize OpenGL/EGL.

[2014-09-29 02:14] neithernut opened #16 "Add OpenGL/EGL deps to build-env"
To solve issues #15 and maybe issue #14, the include path needs to be set appropriately and the executable has to be linked against mesa or possibly another library.

[2014-09-29 02:14] #13 closed, assigned to matthiasbeyer

[2014-09-29 02:15] neithernut opened #17 "Add basic main function"
A basic main function/stub has to be added.

[2014-09-29 02:16] matthiasbeyer commented on #17
As soon as #4 is merged, I'll do this.

But I will sleep beforehand. \m/

[2014-09-29 02:33] neithernut opened #18 "Add CI support"
Add support for the drone.io CI. Requires issue #11 to be solved.

[2014-09-29 02:44] neithernut opened #19 "Add initial object implementation"
Implement the "object" struct according to spec.
The methods can be stubs.

[2014-09-29 02:45] neithernut commented on #16
Blocks #14 and #15.

[2014-09-29 02:46] neithernut commented on #19
Blocks #16.

[2014-09-29 02:46] neithernut commented on #17
Blocks #11.

[2014-09-29 02:47] neithernut commented on #14
Blocks #15.

[2014-09-29 07:46] matthiasbeyer commented on #19
I'd like to do this. Am I allowed to open issues for class implementation for:
- array
- stack
- queue
- string

and maybe others (which all will be blocked by this one, then)? I would assign them to others, then.

[2014-09-29 09:11] xVin commented on #19
Feel free to assign something from that list to me as well (maybe sth rather simple for starters would be best, though). :)

[2014-09-29 09:15] xVin commented on #7
If you want, you can leave graphics stuff to me. I'd work in gimp, though.

[2014-09-29 09:33] TheNeikos commented on #18
This is blocked by the list in #11, will do once that is done.

[2014-09-29 09:48] neithernut commented on #7
The base really should be an svg. It's a lot easier to edit this way. I'm not sure whether gimp can handle vector graphics properly. If you want to, you can download the SVG and mock around with it. As stated above, I'm using [inkscape](http://www.inkscape.org).
However, _after_ the basic figure is done, we may, of course, use raster graphics (e.g. gimp) to fancy things up.

---

I already redid t

[2014-09-29 09:55] neithernut commented on #11
I suspect that I should be the assignee here.

[2014-09-29 09:56] xVin commented on #7
I agree that the logo should be a vector image. I'm also not sure if gimp is suited for that task (I usually use Adobe CS progs, just switching to OS tools for the project). I'll give Inkscape a try and see if I am able give the logo a little makeover :)

Just add it to the repo as it is now, I think it's a good starting point.(I wouldnt add pockets.)

[2014-09-29 10:00] neithernut commented on #19
Note: this issue concerns only `ws_object` itself.
@matthiasbeyer I'll open those issues as needed or if there are resources free for this.

[2014-09-29 10:02] neithernut opened #20 "Add type ws_string"
The type `ws_string` has to be implemented.
For now, most operations can be stubs. Initialisation and descrution however, must be implemented in a PR targeting this issue.

[2014-09-29 10:03] neithernut commented on #20
@xVin: if you're ok with this, I'll assign this issue to you as soon as you accepted the invitation sent to your email (regarding membership of "waysome")

[2014-09-29 10:06] xVin commented on #20
Oh, I overlooked the mail. I just joined. Go ahead and assign it :)

[2014-09-29 10:13] TheNeikos commented on #11
@neithernut That shouldn't really matter I think. Things that are getting done get done. Whose name displays next to an issue doesn't seem important to me.

[2014-09-29 10:21] neithernut commented on #11
That's true, but it _can_ cause confusion.

[2014-09-29 11:11] matthiasbeyer commented on #7
I wouldn't add it to the repo. Binary data in a git repository is always a bad idea.

[2014-09-29 11:13] matthiasbeyer commented on #19
@xVin I will do that.

[2014-09-29 11:13] matthiasbeyer commented on #19
@neithernut Ok. Thanks

[2014-09-29 11:13] matthiasbeyer commented on #20
Blocked by #19

[2014-09-29 11:16] matthiasbeyer commented on #20
As the string implementation should consider Unicode, which requires interaction with a library, I wouldn't assign this one to @xVin , @neithernut . If @xVin is fine with it, okay... but there should be simpler tasks!

[2014-09-29 11:31] neithernut commented on #20
If we do not implement the _complicated_ methods, the string type should be easy to implement (we don't need icu for allocation and deallocation).

[2014-09-29 11:32] neithernut commented on #7
SVGs are not binary data.

[2014-09-29 11:33] matthiasbeyer commented on #20
Of course, but I guess for string operations, they are neccessary! And we _will_ have string operations.

[2014-09-29 11:34] matthiasbeyer commented on #7
See #21

[2014-09-29 11:35] neithernut commented on #20
Yep, but that will be the targeted in other issues.

[2014-09-29 11:36] matthiasbeyer commented on #20
Ok.

[2014-09-29 11:44] neithernut commented on #7
I'll reopen that PR as soon as this is set:
We agreed that having a standard-background image is acceptable if it can be generated from a small text file.
The project logo _really should_ go into the repository. It's 94 lines of XML! That's more than acceptable considering that the code base will be two orders of magniture more than that 94 lines.
A meta-post script might be longer _and_ introduce

[2014-09-29 12:25] neithernut opened #22 "Add code for loading an image"
We need some little helper to load an image (svg or png). That helper should be part of the compositor subsystem, should create an image which can be used in the OpenGL context and be designed in such a way that the implementation can easily be switched (e.g. when we decide not to use libpng or if we want to support more or less formats).

[2014-09-29 12:27] neithernut opened #23 "Add image loading libraries to build environment"
We need to add some libraries for image loading (e.g. [libpng](http://www.libpng.org) and libsvg) to the build env (as dependencies).

[2014-09-29 12:27] neithernut commented on #23
Blocks #22.

[2014-09-29 12:28] neithernut commented on #11
Blocks #23.

[2014-09-29 13:54] matthiasbeyer commented on #23
Why?

[2014-09-29 13:55] TheNeikos commented on #23
Because of #22

[2014-09-29 13:57] matthiasbeyer commented on #23
I think "Because of the background image" would be a much better answer. But yes.

[2014-09-29 13:59] TheNeikos commented on #8
This can now be closed.

[2014-09-29 14:00] #8 closed, assigned to TheNeikos

[2014-09-29 14:43] neithernut opened #26 "Add style checking configuration"
We should add a configuration for some _sane_ style checker, which conforms to our styleguide.

[2014-09-29 16:03] #11 closed, assigned to neithernut

[2014-09-29 16:03] #16 closed, assigned to neithernut

[2014-09-29 16:44] neithernut commented on #23
libpng is in the build environment. I think this is sufficient _for now_.

[2014-09-29 16:48] #17 closed, assigned to matthiasbeyer

[2014-09-29 16:49] neithernut commented on #12
I think this may be closed now. (the other two branches will be created ad-hock befoer/after a release)

[2014-09-29 16:54] neithernut commented on #10
- It has a clean interface.
- It comes with a generator.
- There is at least a gentoo package.

:+1:

[2014-09-29 16:54] #12 closed, assigned to nobody

[2014-09-29 17:49] matthiasbeyer commented on #18
@TheNeikos #11 is closed.

[2014-09-29 18:15] matthiasbeyer opened #30 "Class implementations"
This Issue tries to keep track of all classes we want to implement.
- ws_object (covered in #19, #27)
- ws_array (done by #51)
- ws_stack
- ws_string (covered in #20)
- ws_queue

Whereas the last one is the least important. I would like to open issues for each individual and assign them.

[2014-09-29 18:17] matthiasbeyer commented on #30
@neithernut Am I allowed to open issues for the classes and assign them, as soon as #27 is merged?

[2014-09-29 18:28] matthiasbeyer commented on #14
You mean, we should have an class `ws_monitor`? You should add this to #30 then!

[2014-09-29 18:31] manuelmessner commented on #26
I'm working on it

[2014-09-29 19:10] matthiasbeyer commented on #20
@xVin Go.

[2014-09-29 19:16] neithernut commented on #19
The corresponding PR was merged.

[2014-09-29 19:16] #19 closed, assigned to matthiasbeyer

[2014-09-29 19:18] neithernut opened #34 "Add basic value type"
Add basic value type (`ws_value`).

[2014-09-29 19:19] neithernut opened #35 "Add string value type"
Implement `ws_value_string`.

[2014-09-29 19:19] neithernut commented on #34
Blocks #35.

[2014-09-29 19:20] neithernut commented on #18
The CI is up and running.

[2014-09-29 19:20] #18 closed, assigned to TheNeikos

[2014-09-29 19:20] neithernut commented on #10
We are using yajl.

[2014-09-29 19:20] #10 closed, assigned to nobody

[2014-09-29 22:29] #34 closed, assigned to matthiasbeyer

[2014-09-29 22:44] neithernut opened #40 "Add framebuffer/screen object"
A framebuffer handle/datastructure (containing e.g. height, witdth, pointer to the buffer) should be added to the compositor.
It should be encapsulated in a type derived from `ws_object` (for future usage by the API).

[2014-09-29 22:44] neithernut commented on #40
Blocks #15.

[2014-09-29 22:46] neithernut opened #41 "Add libdrm to dependencies"
`libdrm` development packages should be added to the CI environment.
`libdrm` must also be added to the build dependencies in the build setup (CMake).

[2014-09-29 22:46] neithernut commented on #41
Blocks #40.

[2014-09-29 23:14] neithernut opened #43 "Create framebuffer objects for hardcoded framebuffer device"
When initialising the compositor module, all connectors associated with a framebuffer device (e.g. `/dev/dri/card0`) should be read out. For each of the (active?) connectors, a framebuffer object should be created. (see issue #40).

[2014-09-29 23:15] neithernut commented on #40
Blocks #43.

[2014-09-29 23:17] neithernut opened #44 "Add basic main initialisation functionality"
This will go into `main.c`.

[2014-09-29 23:20] neithernut opened #45 "Add basic logging functionality."
We need some logging to verify some internal functionality.
For now, a prelimary implementation writing out to `stderr` is sufficient.

[2014-09-29 23:20] neithernut commented on #45
Blocks #43.

[2014-09-29 23:21] neithernut commented on #44
Blocks #43.

[2014-09-29 23:27] neithernut commented on #23
Libsvg is not included yet, but libpng is sufficient for now. We will open additional issues as soon as someone asks for support for more formats.

[2014-09-29 23:27] #23 closed, assigned to nobody

[2014-09-29 23:53] neithernut opened #46 "Add basic main loop"
We need a prelimary main loop implementation.
For now, it should loop until the process receives `SIGTERM` or `SIGINT`.
Modules will add their own watchers and handlers.

[2014-09-29 23:57] neithernut opened #47 "Put a background image on the screen"
Blit a previously loaded png onto the frame buffer associated with an active output, then flip that buffer.

[2014-09-29 23:57] neithernut commented on #43
Blocks #47.

[2014-09-29 23:57] neithernut commented on #22
Blocks #47.

[2014-09-30 00:58] #7 closed, assigned to neithernut

[2014-09-30 10:23] matthiasbeyer opened #50 "Add ".swp" to gitignore"
vim swapfiles should be ignored.

[2014-09-30 11:05] neithernut commented on #50
Ah.... never hat this problem because I do not use swap files....
Maybe we should ignore common other backup extensions, too.

[2014-09-30 11:10] matthiasbeyer commented on #50
Indeed.

[2014-09-30 11:54] TheNeikos opened #53 ""Duplicate const modifier""
There is a duplicate const modifier on this [line](https://github.com/waysome/waysome/blob/develop/src/objects/object.h#L46).

[2014-09-30 12:02] neithernut commented on #53
Indeed.

[2014-09-30 12:06] #41 closed, assigned to nobody

[2014-09-30 12:52] neithernut commented on #44
This is done in a different way now. (see the PR)

[2014-09-30 15:50] matthiasbeyer opened #57 "Cleanup singleton"
We need a functionality to cleanup ressources at program exit.

This should be done by a cleanup singleton.

[2014-09-30 16:42] #44 closed, assigned to nobody

[2014-09-30 16:44] #57 closed, assigned to matthiasbeyer

[2014-09-30 18:00] #50 closed, assigned to matthiasbeyer

[2014-09-30 18:00] matthiasbeyer commented on #46
@neithernut close?

[2014-09-30 18:00] #46 closed, assigned to neithernut

[2014-09-30 18:56] matthiasbeyer commented on #45
Can this be closed, @neithernut ?

[2014-09-30 18:58] matthiasbeyer commented on #30
`ws_object` is done. `ws_array` and `ws_string` are in progress.

@neithernut reopen?

[2014-09-30 19:01] neithernut commented on #45
ACK.

[2014-09-30 19:01] #53 closed, assigned to manuelmessner

[2014-09-30 19:13] #45 closed, assigned to matthiasbeyer

[2014-09-30 19:15] xVin commented on #35
I'd like to do this when I'm done with the string object type. Reading ICU documentation atm.

[2014-09-30 19:16] matthiasbeyer commented on #35
Blocked by #52 .

[2014-09-30 19:37] neithernut opened #64 "Add callback for access of object internas"
We will need some way to implement an index operator for our transaction. This should be done by adding a callback to the object type.
It should take a `ws_string` and set/return a `ws_value`.
If that callback is `NULL`, the function should return `nil` automatically.

[2014-09-30 19:38] matthiasbeyer commented on #64
An _index_ operator for the _object_ type?

[2014-09-30 19:39] neithernut commented on #64
Yep. So you cann access internal values of an object, like the path of the background image for a monitor.

[2014-09-30 19:39] neithernut commented on #20
Blocks #64.

[2014-09-30 19:39] matthiasbeyer commented on #64
Shouldn't such functionality be covered by the `set` type?

[2014-09-30 19:41] neithernut commented on #64
Nope, that way wou would need to put a set in each and every object, just to access e.g. the width and the height of a window.
That would be completely and utterly unneccessary.

[2014-09-30 19:43] matthiasbeyer commented on #64
Ah, ok. You mean something like a key-value storage, where you can access the values by key, right? And this is required for the API, right?

So... this is covered by the `ws_value_named` type, isn't it? We just need a way to put multiple of this (multiple key->value accociations) into one object.

[2014-09-30 19:44] neithernut commented on #64
This would introduce imense overhead.

[2014-09-30 21:25] matthiasbeyer opened #65 "Implement: ws_set type"
Implement the set type for the specification.

The hashtable type in the class hierarchy can be emitted, but some methods might be transferred to the set type.

[2014-09-30 21:31] neithernut commented on #64
@matthiasbeyer and I came up with a nice solution:

Each object type will have a sorted table with the following entries:
- Member name
- Member type
- Member offset in the real object
- Access modifiers (read/write)

The indexing method can then be implemented in the object type. Both the get and the set method will take a string and a value as a parameter. As the value denotes its type, the func

[2014-09-30 21:37] neithernut opened #66 "Add unique ID to objects"
We forgot to add a unique ID to the objects.

[2014-09-30 21:41] neithernut opened #67 "Add value type "nil""
We need `ws_value_nil`.

[2014-09-30 21:41] neithernut commented on #67
Blocks #64.

[2014-09-30 21:46] neithernut opened #68 "Add value type "bool""
We need `ws_value_bool`.

[2014-09-30 21:46] matthiasbeyer commented on #66
This could be done with 'libuuid' which is LGPLv2 and therefor fine.

[2014-09-30 21:47] neithernut opened #69 "Add value type "int""
We need `ws_value_int`.

[2014-09-30 21:47] neithernut opened #70 "Add value type "string""
We need `ws_value_string`

[2014-09-30 21:48] neithernut opened #71 "Add value type "object_id""
We need `ws_value_object_id`.

[2014-09-30 21:49] neithernut opened #72 "Add value type "set""
We need `ws_value_set`.

[2014-09-30 21:49] neithernut opened #73 "Add value type "named""
We need `ws_value_named`.

[2014-09-30 21:55] neithernut commented on #66
I'll add this to the build env.

[2014-09-30 21:56] neithernut commented on #73
Blocks #64.

[2014-09-30 21:58] neithernut commented on #72
Blocks #64.

[2014-09-30 21:59] neithernut commented on #71
Blocks #64.

[2014-09-30 21:59] neithernut commented on #70
Blocks #64.

[2014-09-30 22:00] neithernut commented on #69
Blocks #64.

[2014-09-30 22:00] neithernut commented on #65
Blocks #64.

[2014-09-30 22:01] neithernut commented on #66
Blocks #65.

[2014-09-30 22:47] neithernut commented on #66
"libuuid" is not an option, because the resulting uids are not densly packed.

[2014-10-01 00:41] neithernut commented on #66
An incrementing counter should be sufficient. I'll submit a PR in a few hours.

[2014-10-01 01:04] neithernut commented on #66
I thought I saw some functions for getting uids somewhere in the wayland spec. And I found them:
`wl_display_get_serial(struct wl_display* disp)` and `wl_display_get_next_serial(struct wl_display* disp)`
In the version 1.3 documentation, there is no annotation for these functions. But I suspect that you want to call `wl_display_next_serial()` to retrive new ids while the other function gives you t

[2014-10-01 01:14] neithernut opened #74 "Create display singleton"
We need some initialisation and containment for the `wl_display` instance.
Creation and destruction is straight forward, but as of wayland 1.3 there seems to be no way to retrieve the display. That means that we have to store a pointer to that structure. It's feasible to just have a `extern wl_display* ws_display` in some header.
The interface for that singleton should provide the following:
- Ini

[2014-10-01 01:17] #14 closed, assigned to neithernut

[2014-10-01 01:21] neithernut commented on #22
Note: the buffer containing the image should not be `free()`'d directly. Maybe we want to have some sort of object type to contain the buffer.

---

The `libpng` manpage, section V "Simplified API" might be of interest. Looks like it takes 2 or 3 function calls to load an image.

[2014-10-01 01:22] #70 closed, assigned to nobody

[2014-10-01 01:28] neithernut commented on #40
This issue was partly resolved by PR #55. However, the monitor objects are not yet encapsulated in an `ws_object`. The issue will be superseded by a new version.

[2014-10-01 01:29] #40 closed, assigned to nobody

[2014-10-01 01:32] neithernut commented on #43
I accidently closed this issue because of a misreading.

[2014-10-01 01:33] neithernut commented on #74
Blocks #66.

[2014-10-01 01:37] neithernut commented on #35
Blocks #64.

[2014-10-01 01:49] neithernut opened #75 "Add code for opening and handling a socket"
An initialisation method must call `wl_display_add_socket()` to create a socket. Weston looks for an environment variable. We should do the same. However, a default value _should_ exist. That value _may_ be generated from the username of the current user and/or other information.

Additionally, a libev watcher has to be added.

We may integrate this in one file, together with the initialisation of

[2014-10-01 01:50] neithernut commented on #74
Relates to #75.

[2014-10-01 02:00] neithernut opened #76 "What wayland interfaces need to be added for a simple application interface to be drawn?"
We need to have at least a few stubs to retrieve a surface to bring on the screen:

I think of the following:
- surface
- shell surface
- xdg shell

If an application does not accept missign input, maybe "seat".

[2014-10-01 02:01] neithernut commented on #76
Note: this is for _after_ we managed to bring an image on the screen.

[2014-10-01 02:03] neithernut commented on #20
Blocks #30.

[2014-10-01 02:25] neithernut commented on #66
It's acutally nonsensical to allocate a unique id for every string and every set we use, e.g. in an transaction.
We need those uids/serials only for a relatively small number of objects, which will be stored in sets and may be exported via wayland directly.
I propose to introduce layer via a new "node" in our object type inheritance tree, e.g. `ws_hashable`.

[2014-10-01 07:08] matthiasbeyer commented on #74
Should we add another `util` module for "external singletons"?

[2014-10-01 07:11] matthiasbeyer commented on #66
We had a mistake in our thoughts:

We must be able to generate a `r_hash` from an object, whereas an UUID is not really helpful for this, is it? The UUID doesn't help us when putting an object into a set, does it?

[2014-10-01 07:12] matthiasbeyer opened #77 "@memberof documentation missing"
That's a relatively lightweight task.

In the function documentation, there is often the `@memberof` doxygen tag missing. It should be added. Everyone is free to take this issue.

[2014-10-01 09:38] neithernut commented on #66
We can use the UUID as a base for the hash _for wayland related objects_.
So we should still introduce a type `ws_wayland_obj` or something...

[2014-10-01 09:40] neithernut commented on #74
A `util` module for wayland related stuff would be much cleaner imho. E.g.

[code]

[2014-10-01 13:04] matthiasbeyer commented on #74
:+1:

[2014-10-01 14:32] matthiasbeyer commented on #30
`ws_wayland_obj` should also be added, as noted in #66 .

[2014-10-01 14:33] matthiasbeyer commented on #70
Why is this closed? @neithernut ?

[2014-10-01 14:36] matthiasbeyer commented on #66
Blocked by missing deps.

[2014-10-01 15:02] neithernut commented on #70
Because it's aduplicate.

[2014-10-01 15:02] neithernut commented on #70
(see labels).

[2014-10-01 15:13] neithernut commented on #66
The basic (virtual) hash generation functionality for objects does _not_ depend on `wl_display_serial_next()`.

[2014-10-01 15:39] #77 closed, assigned to matthiasbeyer

[2014-10-01 16:34] matthiasbeyer opened #84 "ws_object_free() missing"
`ws_object_free()` should use a callback as well.

[2014-10-01 16:49] matthiasbeyer commented on #84
This was actually meant to be `ws_object_deinit()` for stack-allocated objects deinitialization.

[2014-10-01 17:41] matthiasbeyer opened #89 "Possible segfault found -> Documentation missing"
[This](https://github.com/waysome/waysome/blob/develop/src/objects/object.c#L187) line could cause an error if the `ws_object_unref()` function is called on a stack-allocated object, which _could_ happend (If the one who writes the code isn't carefull enough).

This function is not meant to be called on stack-allocated objects, if course. So there is at least documentation missing for this.

I con

[2014-10-01 23:04] neithernut commented on #15
Moved this to another milestone since it proved unneccessary to copy an image to the framebuffer.

[2014-10-02 06:53] #84 closed, assigned to matthiasbeyer

[2014-10-03 12:29] #22 closed, assigned to nobody

[2014-10-03 12:29] #43 closed, assigned to TheNeikos

[2014-10-03 12:29] #47 closed, assigned to nobody

[2014-10-03 14:47] neithernut opened #92 "Add likely and unlikely macros"
The likely and unlikely macros would be especially useful for the singletons.

[2014-10-03 14:48] #89 closed, assigned to nobody

[2014-10-04 12:26] #92 closed, assigned to nobody

[2014-10-05 05:15] #74 closed, assigned to neithernut

[2014-10-05 05:15] #75 closed, assigned to neithernut

[2014-10-05 09:18] matthiasbeyer opened #102 "ws_object_deinit() missing"
Am I wrong or is the deinitializations-mechanism for the `ws_object` type still missing?

Should be done ASAP.

[2014-10-05 09:19] matthiasbeyer commented on #102
My mistake, was on the wrong branch. Sorry.

[2014-10-05 09:19] #102 closed, assigned to nobody

[2014-10-05 14:14] matthiasbeyer commented on #65
Blocks #72

[2014-10-05 14:15] matthiasbeyer commented on #20
Blocks #35

[2014-10-05 14:55] matthiasbeyer commented on #66
I'm a bit insecure about how to implement this properly and what are the requirements. I'd suggest to assign this issue to someone else or explaining it to me in detail (no offensive here, though)!

[2014-10-05 14:57] matthiasbeyer commented on #30
The set type is covered in #86 .

[2014-10-05 14:57] matthiasbeyer commented on #30
Are the stack type and a queue type required, @neithernut ? Shall we implement those?

[2014-10-05 16:48] neithernut commented on #30
They are not required now and they will likely be not required later.

[2014-10-05 16:52] neithernut commented on #66
Set the hash function pointer to `NULL` for `ws_object`.
The typed derived from the object type will bring their own implementations. E.g. the string type will use some has algorithm.

As the intrastructure is already merged, we may as well close this issue and create new ones for types which lack hashing functionality.

[2014-10-05 16:52] #66 closed, assigned to nobody

[2014-10-05 16:55] matthiasbeyer commented on #30
I could imaging that we need a FIFO like structure for the mechanism which executes the transactions. But I guess we will open issues for these then. I will open a PR for removing the appropriate files.

Feel free to close this one at own will!

[2014-10-05 16:59] neithernut commented on #30
As all the types now have their own issues to track them, we may indeed close this one.

[2014-10-05 16:59] #30 closed, assigned to nobody

[2014-10-06 10:16] neithernut opened #107 "Implement the compositor interface"
We need to register the compositor.
This includes filling out the least some of the members of a `struct wl_compositor_interface`.
Specifically, we need to set and implement the `create_surface` request.

[2014-10-06 10:17] neithernut opened #108 "Register registry"
We need a registry to advertise some singletons.

[2014-10-06 10:18] neithernut commented on #108
Blocks #107.

[2014-10-06 10:24] neithernut opened #109 "Implement preliminary surface"
We need a preliminary implementation of the `wl_surface`. For now, stubs are sufficient for most parts.
However, the following methods must be implemnted to some extend:
- the `attach` request
- desruction of the object.

[2014-10-06 10:24] neithernut commented on #109
Blocks #107.

[2014-10-06 10:29] neithernut opened #110 "Implement buffer interface"
We need to implement the buffer interface, which will serve as the base for drm- and shared-memory-buffers.

[2014-10-06 11:14] neithernut opened #111 "Implement shared memory pool interface"
To assign buffers, we need a shared memory pool. For that purpose we need to implement the `wl_shm_pool`. And the corresponding surface.

[2014-10-06 11:18] neithernut opened #112 "Implement the wayland object type"
We need the wayland object type to handle all the little objects we get.

[2014-10-06 11:49] neithernut commented on #112
Blocks #107, #108, #109, #110.

[2014-10-06 12:27] neithernut commented on #111
Turns out this is absolutely simple.

[2014-10-06 12:52] neithernut opened #113 "Make framebuffers/monitors objects"
The framebuffers and connectors should be made objects, which get created by the compositor upon initialisation.

[2014-10-06 12:55] neithernut opened #114 "Add monitor storage"
Add set containing all monitors, held by the compositor

[2014-10-06 12:56] neithernut commented on #65
Blocks #114.

[2014-10-06 12:59] neithernut opened #115 "Blit buffers onto monitors"
After the initialisation of the framebuffer, we need some code which iterates over all the buffers and blits them onto the framebuffer.

[2014-10-06 15:18] TheNeikos commented on #113
Taking this one!

[2014-10-06 15:21] neithernut opened #117 "Add capabilities for deadlock-free locking"
We need functions which enable us to savely lock multiple values.

[2014-10-06 16:43] neithernut opened #118 "ws_object_unlock_read and ws_object_unlock_write should be merged"
Both do exactly the same thing.
There should only be `ws_object_unlock`

[2014-10-06 20:39] matthiasbeyer commented on #117
Is there some mechanism around to approach this, or do we have to implement this ourselves?

[2014-10-06 20:39] matthiasbeyer commented on #117
I guess this is a "static method" for the `ws_object` type, right?

[2014-10-06 20:41] matthiasbeyer commented on #108
What do you mean _exactly_ with "registry"?

[2014-10-06 20:42] neithernut commented on #117
I started a PR already. I think you have to leave this one to me.

[2014-10-06 20:43] neithernut commented on #108
See `wayland_server.h` or the documentation.

[2014-10-06 20:48] matthiasbeyer commented on #117
But this (#119) is not a PR for locking _multiple_ values!

I would assume something like `ws_object_lock_objs_read(o1, o2, o3);` or something coming out of this issue, not a `trylock()` functionality!

[2014-10-06 20:50] neithernut commented on #117
You can lock a various number of values using nothing but a `try_lock` and be perfectly save concerning deadlocks.

[2014-10-06 20:53] matthiasbeyer commented on #108
Okay. I understand the very idea of a registry. But a few questions are popping up:
- Who is the "server" in the context of [the documentation](http://wayland.freedesktop.org/docs/html/protocol-spec-interface-wl_registry.html)? The compositor? So do we have to emit events and stuff always when a new monitor gets plugged in? Really? I really cannot belive that we have to care about such low-level s

[2014-10-06 20:56] matthiasbeyer commented on #117
But it generates _some_ overhead in the code which could be prevented. For example:

[code]

vs.

[code]

You know what I mean?

[2014-10-06 21:14] neithernut commented on #117
You may still have a locking function using va_lists, but that may be ugly.
You also have to put everything in a loop, so you retry to lock all the objects.

---

I will push code tomorrow, probably on #119.

[2014-10-06 21:17] neithernut commented on #108
Well, if you want to look at the KDE codebase, enjoy the AIDS.
Also, it's not that lowlevel.
Considering the wayland library already ships a complete solution for a shared memory, it may also ship the registry itself. In this case, it still has to be initializes, though.

[2014-10-06 23:48] neithernut commented on #108
The wayland library already handles registry. It implements the `get_registry` method for `wl_display`, including creation of the registry.

[2014-10-06 23:48] #108 closed, assigned to nobody

[2014-10-07 12:35] #118 closed, assigned to matthiasbeyer

[2014-10-07 12:36] neithernut commented on #117
As #119 is merged, I'll probably do this at some point in another PR.

[2014-10-07 12:37] #67 closed, assigned to matthiasbeyer

[2014-10-07 15:30] neithernut opened #124 "strdup for real libcs"
We will need some `strdup` implementation for non-gnu-libcs.
Since the wayland code is busted with linux-specifics, this has a low priority.

[2014-10-07 15:47] #65 closed, assigned to matthiasbeyer

[2014-10-07 15:49] #111 closed, assigned to neithernut

[2014-10-07 16:17] neithernut opened #126 "Move framebuffer initialisation and deinitialisation to monitor object type"
Creation and destroying framebuffers should be moved to the monitor.

[2014-10-07 16:18] neithernut commented on #114
Blocks #126.

[2014-10-07 16:19] neithernut commented on #113
Blocks #126.

[2014-10-07 16:20] neithernut commented on #126
Blocks #115.

[2014-10-07 16:32] #68 closed, assigned to matthiasbeyer

[2014-10-07 16:32] #69 closed, assigned to matthiasbeyer

[2014-10-07 18:42] matthiasbeyer opened #127 "Make the CI do a merge before building?"
I guess it would be beneficial to do a merge (on the CI server) with the development branch before building the software.

I don't know what kind of effect that would have when starting release-branches or hotfix branches on a release.

Please discuss.

[2014-10-07 18:49] TheNeikos commented on #127
Why would you do that? If you have not rebased yet it might fail and you will wonder why. (Your codebase won't be the same in the testing env)

[2014-10-07 18:56] matthiasbeyer commented on #127
It ensures us that we get a working version _after_ the merge, which is much more important than a working version _on_ the branch.

[2014-10-07 18:57] neithernut commented on #127
I agree with that.

[2014-10-07 18:58] matthiasbeyer commented on #127
@neithernut me or @TheNeikos ?

[2014-10-07 18:58] neithernut commented on #127
How about the last post before mine?
It's you statement.

[2014-10-07 18:59] matthiasbeyer commented on #127
Yes, but you were so fast that I assumed you posted at the very same moment and meant @TheNeikos comment.

[2014-10-07 19:26] TheNeikos commented on #127
That doesn't matter though, github already tells you if you can merge or not. So it's not like a working build will suddenly make you be able to merge.

[2014-10-07 19:42] neithernut commented on #127
There are, however, situations, where the merge results in non-building software.
E.g. consider a branch which uses a function which was removed in the development branch. The branch is mergable, but the result will be a linker error (undefined reference).

[2014-10-07 20:02] matthiasbeyer commented on #127
Exactly.

It doesn't matter if your branch merges or not, that is covered by github, as you already said. But if it is able to get merged, it could still break the build. If your PR isn't mergeable, you have to fixup anyways!

We had such situations already, where the `ws_object_unlock_read()` functions were made deprecated. This breaks the build for the development branch, if (and only if) you me

[2014-10-07 20:21] TheNeikos commented on #127
Alright, that sounds reasonable.

[2014-10-07 20:30] matthiasbeyer commented on #127
I'd like to read the opinions of @xVin and @manuelmessner on this!

[2014-10-07 20:36] xVin commented on #127
Doing the merge before building sounds like a good idea to me. We should try it.

[2014-10-08 01:01] neithernut commented on #124
This should go into `util/compat.h` and `util/compat.c`

[2014-10-08 01:02] neithernut opened #128 "We need some O_CLOEXED replacement for non-linux"
We need something like

[code]

in `util/compat.h`

[2014-10-08 01:03] neithernut commented on #128
Relates to #124.

[2014-10-08 01:03] neithernut commented on #124
Relates to #128.

[2014-10-08 02:40] neithernut opened #129 "Implement ws_connbuf"
We'll need a `ws_connbuf` at some point (for the `ws_connector`).

[2014-10-08 06:38] matthiasbeyer commented on #129
For clearification: Should this be an `ws_object` subtype?

[2014-10-08 09:18] neithernut commented on #129
Nope.

[2014-10-08 10:17] neithernut opened #131 "Add capability to compare objects"
This would be another callback in `ws_object_type`.

[2014-10-08 10:48] #131 closed, assigned to matthiasbeyer

[2014-10-08 12:27] #113 closed, assigned to TheNeikos

[2014-10-08 12:39] TheNeikos commented on #114
This is doone by https://github.com/waysome/waysome/pull/133

[2014-10-08 12:41] #114 closed, assigned to TheNeikos

[2014-10-08 12:55] neithernut opened #135 "Make PNG surface derived from buffer"
If we make the background surface a `ws_buffer`, it will enable us to draw the background using some unified mechanism.

[2014-10-08 13:12] #112 closed, assigned to matthiasbeyer

[2014-10-08 13:18] TheNeikos commented on #135
Doing this!

[2014-10-08 14:31] TheNeikos commented on #128
This is not yet necessary as our _complete_ graphical backend is currently based on the Linux Kernel subcomponent called _DRM_ aka **DirectRenderingManager**. It wouldn't make sense to implement just this for a case that we do not support. (Yet)

[2014-10-08 14:56] neithernut commented on #128
Is marked as "on hold" now.

[2014-10-08 17:32] matthiasbeyer commented on #128
I'd like to suggest to add the "reopen later" label and close this one.

[2014-10-08 17:33] neithernut commented on #128
This would also apply to #124.

[2014-10-08 19:03] #110 closed, assigned to neithernut

[2014-10-08 20:30] matthiasbeyer opened #145 "Change the implementation of ws_array to actually use ws_objects and not void*"
Change the implementation of `ws_array` to actually use `ws_objects` and not `void*`. This should be fixed.

Ref-counting can be added in the same PR.

[2014-10-08 21:07] TheNeikos commented on #135
Can be closed!

[2014-10-08 21:08] TheNeikos commented on #126
This can be closed

[2014-10-08 21:08] #135 closed, assigned to TheNeikos

[2014-10-08 21:08] #126 closed, assigned to TheNeikos

[2014-10-08 21:09] neithernut commented on #115
Best would be some method to blit buffers.

[2014-10-08 21:58] matthiasbeyer commented on #124
`strdup()` is in POSIX1-2001, says my manpage:

[code]

And `strndup()`:

[code]

So this can be closed.

[2014-10-08 21:58] #124 closed, assigned to matthiasbeyer

[2014-10-09 10:13] #20 closed, assigned to xVin

[2014-10-09 10:45] matthiasbeyer opened #149 "`make test` or `ctest` results in "No tests were found""
The test setup seems to be buggy in some way.

I would also like to open a discussion about what could already be tested and how, also multithreaded tests and so on. We should start adding tests at least for the basic stuff.

This discussion could go into this issue and I would like to hear opinions from all of you!

[2014-10-09 11:32] TheNeikos commented on #115
This can be closed

[2014-10-09 11:34] neithernut commented on #115
The actual blit of surfaces is still missing. This will be integrated with #148.

[2014-10-09 11:45] TheNeikos commented on #115
Hm, you are right.

[2014-10-09 11:51] neithernut commented on #115
Will not be integrated with #148, but some time after the compositor interface is implemented.

[2014-10-09 13:40] #109 closed, assigned to neithernut

[2014-10-09 13:44] neithernut opened #151 "Implement a serializer for JSON"
We need a serializer for the JSON format, which deserializes messages as described in the specification.
This will probably need some clarification. Please give me a call if you need some infos or hints.

[2014-10-09 14:37] matthiasbeyer commented on #151
Do we need to define the structure of the internal transaction/command representation for this?

[2014-10-09 14:42] neithernut commented on #151
Yep, when you implement the message type which holds transactions.

[2014-10-09 14:45] matthiasbeyer commented on #151
Where should these types be located in the source? `src/objects` ?

I would add these types:
- ws_transaction
- ws_command
- ws_command_argument

and maybe more. SYN?

[2014-10-09 14:54] neithernut commented on #151
Nope. Either in the command-processor's directoy or a directory on it's own.

---

The type names are OK, but you forgot about `ws_message`.

[2014-10-09 14:57] matthiasbeyer commented on #151
Okay, so I'll put it into `src/command`.

The suggested types are okay?

[2014-10-09 15:01] neithernut commented on #151
Yep.

[2014-10-09 23:48] neithernut opened #157 "Add a set of surfaces to monitors"
Each monitor should hold a set of surfaces assigned to it.
There should also be a function for drawing all these surfaces by blitting their image buffers one after another (z-index considerations are unneccessary atm).

[2014-10-09 23:49] neithernut commented on #157
Blocks #115.

[2014-10-09 23:53] neithernut opened #158 "Add surface creation"
The wayland compositor has a callback which let's you create surfaces. Those surfaces should be assigned to a monitor. ATM this may be done statically, in the compositor module.

[2014-10-09 23:54] neithernut commented on #157
Blocks #158.

[2014-10-09 23:55] neithernut commented on #128
There is some replacement for this in the drm header. We should use this one, since the only place we use this flag is in the drm backend.

[2014-10-09 23:55] #128 closed, assigned to nobody

[2014-10-09 23:57] neithernut opened #159 "Trigger redwaring from the surface's "commit" method"
From the surface's commit method, for which a callback exists, a redraw of the monitors should be triggered.
For now, all minitors may be redrawn, but we may use more efficient techniques in the future.

[2014-10-09 23:57] neithernut commented on #157
Blocks #159.

[2014-10-09 23:58] neithernut commented on #158
Blocks #115.

[2014-10-09 23:58] neithernut commented on #159
Blocks #115.

[2014-10-09 23:59] neithernut commented on #107
Blocks #158.

[2014-10-10 00:01] neithernut commented on #115
After the referencing issues are closed, we may close this one, finally reaching the milestone.
This is, after testing whether it works, of course.

[2014-10-10 00:07] neithernut commented on #149
Mh... the setup works for me...

[2014-10-10 00:12] neithernut opened #160 "Implement the ws_connector"
The `ws_connector`, which is btw _not an object_, has to be implemented according to spec.
Additionally to the stuff the spec says, a read-only mode should be added, which simply does not initialize or use the `outbuf`.

The initialisation funtion should take an file descriptor along with the connector itself.

[2014-10-10 00:12] neithernut commented on #129
Blocks #160.

[2014-10-10 08:59] neithernut opened #161 "Add abstract serializer"
We need some abstract serializer and the basic infrastructure for serializers.

[2014-10-10 09:01] neithernut commented on #161
Blocks #151.

[2014-10-10 09:06] matthiasbeyer commented on #149
Okay... this time it also worked for me. Maybe I didn't `cmake .` after the tests were added, I'M sorry.

**Anyway** I would like to add tests. But I guess this should be in another issue. Feel free to close.

[2014-10-10 09:15] #149 closed, assigned to nobody

[2014-10-10 09:52] #157 closed, assigned to nobody

[2014-10-10 09:52] #107 closed, assigned to neithernut

[2014-10-11 12:12] matthiasbeyer opened #165 "Build env does not link waysome to tests"
Output:

[code]

Headers are included in my test. See #164

[2014-10-11 12:28] neithernut commented on #165
A quick reminder:
you have to tell the framework, which source files, include files and libraries you need. You do this by editing the appropriace `CMakeLists.txt` in the test subdirectory.

[2014-10-11 12:28] #165 closed, assigned to nobody

[2014-10-11 12:34] matthiasbeyer commented on #165
Can you provide a short example how?

[2014-10-11 12:40] neithernut commented on #165
[code]

Same for `TEST_INCLUDE_DIRS`, `TEST_DEFINITIONS` and `TEST_LIBRARIES` (if you need them)

[2014-10-11 12:49] matthiasbeyer commented on #165
Sorry for bothering you again, but how to link libpthread? I assume in `TEST_LIBRARIES`, but I don't know how to. At least the projects cmake file doesn't provide an example for me, sadly.

[2014-10-11 13:04] neithernut commented on #165
[code]

same for include directories and definitions.

[2014-10-11 14:15] xVin opened #167 "Wrong member variable type in compositor/monitor.h ?"
Should we maybe use a bool [here?](https://github.com/waysome/waysome/blob/develop/src/compositor/monitor.h#L57) @matthiasbeyer checked with in the specs and we found out that this variable is set to either 0 or 1.

[2014-10-11 15:10] matthiasbeyer commented on #71
Q: has this to hold a `ws_object` or a `ws_wayland_obj` ?

[2014-10-11 16:04] neithernut commented on #71
It has an object's reference, but it deserializes to an id.

[2014-10-11 16:08] matthiasbeyer opened #170 "Make `struct ws_wayland_buffer` a `struct ws_buffer`?"
In the source code of `struct ws_wayland_buffer` is written that it has a member called `buf` but is this necessary?

Couldn't simply `ws_wayland_buffer` be a subtype of `ws_buffer`?

@TheNeikos asks this as well.

[2014-10-11 16:09] matthiasbeyer commented on #71
You mean a hash of a object to identify it in a set?

[2014-10-11 16:10] neithernut commented on #170
Could be done.

[2014-10-11 16:12] neithernut commented on #71
Nope, not a hash but some sort of id to find it in the world set/object model (which implies that it's only relevant for object types which are in the object model). Should probably be the wayland id.

[2014-10-11 16:14] neithernut commented on #167
Fixed in PR #169.

[2014-10-11 16:14] #167 closed, assigned to nobody

[2014-10-11 16:26] neithernut commented on #170
Ah crap, I didn't think har enough. This doesn't work!
`ws_wayland_buffer` is a `ws_wayland_obj`, so it can't be a `ws_buffer`.

[2014-10-11 16:27] neithernut commented on #170
One could swap the `ws_buffer` with the `ws_wayland_obj`, of course...

[2014-10-11 16:28] matthiasbeyer commented on #170
I would like you to add a _very_ verbose documentation in the related file, what you're doing there.

[2014-10-11 16:41] neithernut commented on #170
Could you be more precise?

[2014-10-11 16:42] neithernut opened #172 "Implement the xdg surface interface"
We really need the xdg shell. I'll be on it.

[2014-10-11 16:44] matthiasbeyer commented on #170
The multi-inheritance thing you're doing, it should be explained why and how.

[2014-10-11 16:46] neithernut commented on #170
I'll add more documentation as soon as I can spare the time...

[2014-10-11 16:54] neithernut commented on #172
Blocks #115.

[2014-10-11 16:55] #76 closed, assigned to nobody

[2014-10-11 16:56] #73 closed, assigned to matthiasbeyer

[2014-10-11 17:54] xVin commented on #160
Do you think I could try doing this?
I'd like to give it a shot. :-)

[2014-10-11 18:01] matthiasbeyer commented on #160
@xVin : I think you can do the interface, which should be one PR. But not the implementation, this is far to heavy IMHO for you by now.

[2014-10-11 18:06] xVin commented on #160
kk, I'll do the interface then.
As for the implementation: Maybe we could do it pair programming style?
But if you think it's too far above my head, that's ok...

[2014-10-11 22:20] #158 closed, assigned to nobody

[2014-10-11 22:25] #117 closed, assigned to neithernut

[2014-10-12 00:51] TheNeikos opened #174 "Add support for multiple modes"
To reach this goal we need to enumerate all the modes for a given connector and save them in a set.

[2014-10-12 00:51] TheNeikos opened #175 "Add support for `two connectors one buffer`"
Exactly what it says.

[2014-10-12 00:54] TheNeikos opened #176 "Add support for queer mode setting"
This would be modes like 1337x9001

[2014-10-12 00:56] TheNeikos opened #177 "Add support for buffers over two windows"
This one is tricky.

Basically what we want is a _big_ buffer that goes over two monitors.

[2014-10-12 00:58] TheNeikos opened #178 "Add support for rotated monitors"

[2014-10-12 00:59] TheNeikos opened #179 "Add a cursor"
For now it would be sufficient if the mouse would be just placed at the top left or some other position.

[2014-10-12 01:00] TheNeikos commented on #179
It should read an image on the file system and should be placed _over_ every other type of buffer.

This is where compositing comes into play

[2014-10-12 01:07] TheNeikos commented on #176
Is this something we want?

[2014-10-12 01:09] matthiasbeyer opened #180 "Add testing: ws_array type"
Testing for the array type should be added.

[2014-10-12 01:09] matthiasbeyer opened #181 "Add testing: ws_set type"
The set type must be tested.

[2014-10-12 01:10] matthiasbeyer opened #182 "Add testing: ws_string type"
The string type should be tested.

There should be unicode-tests included in this one.

[2014-10-12 13:24] neithernut commented on #176
Generally yes, but missing support isn't a blocker or a showstopper, so I'd postpone this.

[2014-10-12 13:26] neithernut commented on #179
Yep. Wasn't there a way to pass a plane to libdrm and marking it as a pointer/arrow? I thought I saw something there...

Note: virtually all modern graphics cards support hardware based pointer drawing, and most people use this.

[2014-10-12 13:27] neithernut commented on #178
Need affine transformations.

[2014-10-12 13:30] neithernut commented on #15
Blocks #178.

[2014-10-12 13:40] neithernut commented on #177
One would render in a "virtual" buffer and copy areas from that buffers onto the monitor's buffers. Has this any specific benefits? (Except running the pipeline only once to update all screens?)

[2014-10-12 13:42] neithernut commented on #172
I _would_ copy the protocol definition from weston, but it's BSD licensed and I doubt I can integrate it into a LGPL codebase without some legal issues.
I'll have a look at the details, maybe there is a way around this.

---

Note: the whole "you have to ship your own xdg shell and xdg surface, like you have to with everything anyways, but we will not ship it with libwayland"-thing is seriously bu

[2014-10-12 14:22] TheNeikos commented on #179
Yup! That's what we are going to use

[2014-10-12 14:23] TheNeikos commented on #177
Yup pretty much.

This would need a blitting method so as to specify a size and offset.

[2014-10-12 15:03] TheNeikos opened #184 "Adding a unix socket to read all the framebuffers as a big png"
This is a feature request for down the line.

Basically we would just create a unix socket at some specified place and if it is read one can get the screen contents in PNG format (Good support, no additional dependencies and lossless).

libev supports events on sockets, so this shouldn't be too hard to implement.

[2014-10-12 15:04] matthiasbeyer commented on #184
:+1: I like this.

[2014-10-12 15:18] neithernut commented on #184
The idea is intriguing. Could be made an optional feature (possibility to enable it at runtime).
For the socket's path, some thing like "/tmp/waysome-screen" miight be hardcoded for now.

[2014-10-12 15:21] matthiasbeyer commented on #184
Talking about security here: There should be an option to restrict access to this on the waysome side, something like "3 times per minute, but not more" or something. My concerns are also about load. If someone wants to "stream" the screen over this, this would cause waysome to get stuck at some point, I guess.

[2014-10-12 15:22] TheNeikos opened #185 "Take the framebuffer creation out of the monitor"
We need to be able to create a framebuffer on a given monitor, but not actually set it as it's 'default' framebuffer.

This is for things like Double Buffering and the Cursor.

[2014-10-12 15:22] neithernut commented on #177
Yep, but we'll need such a method anyways.
Question is: do we do this before or after we started using EGL/some other hw accellerated method for transferign buffer's contents, performing transformation and alpha-blitting?

[2014-10-12 15:22] TheNeikos commented on #185
Blocks #179

[2014-10-12 15:23] TheNeikos commented on #177
Afterwards I think makes more sense.

[2014-10-12 15:25] neithernut commented on #185
The original idea was to have the `ws_buffer` interface abstracting such things. You would have some background buffer(s) and switch them on `ws_buffer_end_access`, for example, to implement double buffering. This way you'd have transparent buffer handling using one unified interface.

[2014-10-12 15:26] TheNeikos commented on #184
That is definitely a possiblity, although once we have double buffering you would just get the front buffer (the one being drawn), so that way there is no lock on it. (And thus no delay)

Rate limiting shouldn't be too hard to implement, I don't see the usefulness though (You control your machine after all).

What do you mean restricting access on the waysome side?
The socket would only be readabl

[2014-10-12 15:27] neithernut commented on #184
Load balancing is a trivial matter.

[2014-10-12 15:28] TheNeikos commented on #185
That works for me. How would you implement such a thing with ws_buffer? A special `ws_frame_buffer_create` method that returns a `ws_frame_buffer` and thus implicitely a `ws_buffer`?

[2014-10-12 15:29] TheNeikos opened #186 "Support hotplugging"
Right now, we don't consider hotplugged monitors as 'connected'.

I am not sure how libev would handle this and how libdrm plays along concern events.

[2014-10-12 15:29] TheNeikos commented on #184
@neithernut How so?

[2014-10-12 15:30] neithernut commented on #185
Yep, you create a new derivate of `ws_buffer` and a constructor (like `ws_frame_buffer_new`) returning such an object.

[2014-10-12 15:30] matthiasbeyer commented on #184
I meant that the software itself does the "no, I don't write this buffer for the next N seconds" or something, and not some plugin. But okay, I'm not the person to ask these questions!

[2014-10-12 15:30] neithernut commented on #185
If you feel the need, you can, of course, extend the `ws_buffer` type. (e.g. for an explicit flip)

[2014-10-12 15:45] neithernut commented on #184
Most naturally, you'd put the PNG creation routine in a central place, so you can serve multiple clients requesting a screenshot without any extra effort. Updates of the buffer by redraws may mark the buffer as invalid. The next client requesting sees that the PNG is stale and commences a serialisation of the current buffer, every other client requestign an update of the same buffer will get the s

[2014-10-12 15:46] neithernut commented on #186
Needs libudev. Would postpone this for now.

---

Maybe we should introduce some milestones for all these feature requests, too.

[2014-10-12 16:35] neithernut opened #188 "Add command representation and interface"
We'll introduce a basic representation for commands and command implementation which will be used to construct and process transactions.

[2014-10-12 17:21] neithernut opened #190 "Add transaction model"
We need a transaction to feed to processor.

[2014-10-12 17:22] neithernut commented on #188
Blocks #190.

[2014-10-12 17:23] neithernut opened #191 "Add message type "transaction""
Add a message type which holds a transaction.

[2014-10-12 17:24] neithernut commented on #190
Blocks #191.

[2014-10-12 18:54] #159 closed, assigned to matthiasbeyer

[2014-10-12 18:54] #115 closed, assigned to nobody

[2014-10-12 19:40] xVin commented on #182
Another string issue :o
Can I do this? :-)

[2014-10-12 19:44] neithernut commented on #182
Sure.

[2014-10-13 08:54] #35 closed, assigned to xVin

[2014-10-13 14:09] neithernut commented on #184
Note: you can actually `cat` a socket, so we don't even need some "client" to fetch screenshots, if we deliver _just_ a PNG.

[2014-10-13 14:28] TheNeikos commented on #184
Yup! That was the idea

[2014-10-13 15:50] matthiasbeyer opened #194 "Add string type setter function"
We need something like `ws_string_set_from_raw()` for the string type.

Blocks #91 .

[2014-10-13 16:34] xVin commented on #194
Ok I'm on it.

[2014-10-13 18:08] matthiasbeyer commented on #151
@neithernut Can you explain to me how to implement a JSON backend on your setup? (As soon as it is merged)

[2014-10-13 18:22] neithernut opened #197 "Find a default cursor"
We should ship a default cursor, in PNG format.
We either have to make our own or find one. There are websites which give you tons of free icons. You have to look out for compatible licensing, however.

[2014-10-13 19:07] xVin commented on #197
Would you prefer a white or a black default cursor?

[2014-10-13 19:30] matthiasbeyer commented on #197
I'm trying to do this right now, but I guess competing approaches would be nice, so go for it.

I'd like to suggest to ship both, a white-black and a black-white one!

[2014-10-13 19:32] neithernut commented on #197
You could easily invert the cursor, so it doesn't really matter if it's black or white.

[2014-10-13 19:34] matthiasbeyer commented on #197
![BLACK OR WHITE; YEAR](http://itunes-music.com/wp-content/uploads/2012/07/michael-performing-black-or-white.jpg?eb8c7d)

[2014-10-13 19:49] matthiasbeyer commented on #197
[My approach](http://webuser.hs-furtwangen.de/~beyermat/cursor.png)

[2014-10-13 19:51] #185 closed, assigned to nobody

[2014-10-13 21:49] neithernut commented on #172
We implemented a `wl_shell` for now. Turns out this works with a modified version of https://github.com/hdante/hello_wayland.

[2014-10-13 21:49] #172 closed, assigned to neithernut

[2014-10-13 23:37] neithernut commented on #197
I created a smaller variant from your version. Additionally, I added a version with a small effect:
http://webuser.hs-furtwangen.de/~ganzjuli/waysome/cursor/

[2014-10-14 08:29] matthiasbeyer commented on #197
Looks good, too. But I don't see the difference besides in size. And I don't see the effect.

[2014-10-14 08:34] xVin commented on #197
He means the shading effect.

[2014-10-14 08:49] neithernut commented on #197
The shading effect is meant to be minimal. This gives the cursor a little bit of depth without distracting the user.

[2014-10-14 09:53] xVin commented on #194
Can be closed.

[2014-10-14 09:57] #194 closed, assigned to xVin

[2014-10-14 14:41] matthiasbeyer commented on #191
Let me add a short note here (not _that_ closely related): We should have a look at the language definition some time in the near future. The language is already there, but we did not agree on it.

[2014-10-14 15:56] xVin commented on #160
Seeing that this was assigned to manu: Am I still 'allowed' to do the interface?

[2014-10-14 18:14] neithernut commented on #160
Yes, of course.

[2014-10-15 13:15] matthiasbeyer opened #207 "`ws_string` tests missing"
We need tests for the `string ws_string` type, as some functions of the type fail.

I use them in my PR #91 and they break my stuff as they fail. So I consider this as ciritcal.

[2014-10-15 13:27] neithernut commented on #207
Duplicate of #182.

[2014-10-15 13:27] #207 closed, assigned to xVin

[2014-10-15 13:43] matthiasbeyer commented on #182
Prio changed to critical, as I need functionality from this in my PR #91 which seems to be broken in the string implementation.

[2014-10-15 13:52] xVin commented on #182
@matthiasbeyer I won't be able to work on this today, but I'll have a look at it tomorrow morning. Feel free to stop by at the foo pool so that we can discuss.

[2014-10-15 20:06] #161 closed, assigned to nobody

[2014-10-15 23:46] #188 closed, assigned to neithernut

[2014-10-16 02:46] neithernut commented on #190
I reviewed the architecture again and dispite my intention to have the transaction seperated from the message object hirarchy, it actually makes sense to make both the transaction message _and_ the transaction itself _the same type_.

Amongst other things, we can automatically track the source of a transaction this way, since the transaction is bound to a session as it's a message. Also, it's much

[2014-10-16 11:43] TheNeikos opened #215 "Reorganize Compositor"
Right now the compositor looks like this:

[code]

Which is not ideal.

`background_surface.h` actually defines `ws_image_buffer` we have `surface.h` defining `ws_surface` (Which is a wayland type!)

It think it would be best to introduce two sub folders called `buffer` and `wayland` in which we can then put the appropriate files. Thoughts?

[2014-10-16 11:54] matthiasbeyer commented on #215
Sounds good. We could even short-cut "wayland" to "wl", I guess. Maybe that's an idea, maybe you guys don't like it.

[2014-10-16 15:20] matthiasbeyer commented on #160
@xVin How much is done?

[2014-10-16 15:35] xVin commented on #160
Expect the PR this evening.

[2014-10-16 21:12] #145 closed, assigned to nobody

[2014-10-16 21:23] neithernut opened #218 "Add transaction processor"
The actionmanager's core functionality, processign transactions, needs to be implemented.

[2014-10-16 21:23] neithernut commented on #191
Blocks #218.

[2014-10-16 21:24] neithernut commented on #190
I'll assume that this is set now.

[2014-10-16 21:24] #190 closed, assigned to neithernut

[2014-10-16 21:30] neithernut opened #219 "Add transaction processing IO handler"
We need an IO handler which processes messages received from plugins or read from the configuration file.
For now, it's not neccessary to have session management related code in there.

[2014-10-16 21:31] neithernut commented on #160
Blocks #219.

[2014-10-16 21:33] neithernut opened #220 "Add code for reading the config file"
We need to locate the configuration file, open it and trigger processing it.

[2014-10-16 21:33] neithernut commented on #219
Blocks #220.

[2014-10-16 21:36] matthiasbeyer commented on #220
Notes:

The configuration file _can_ be in various places:
- /etc/waysome.conf
- ~/.config/waysome.conf
- ~/.waysome/waysome.conf
- ~/.waysome.conf

More?

[2014-10-16 21:41] neithernut commented on #220
Spamming the home directory? That's a bad practice.

---

I'd propose checking the following locations (in that order):
- `waysome.conf` (in the local directory, as in `$PWD`)
- `~/.config/waysome.conf`
- `~/.config/waysome/waysome.conf`
- `/etc/waysome.conf`
- `/etc/waysome/waysome.conf`

[2014-10-16 21:44] matthiasbeyer commented on #220
What about `~/.waysome.conf` ? Or whats about `XDG_HOME`?

[2014-10-16 22:23] neithernut commented on #220
On desktop machines, there are more than enough hidden files sitting around in the home directory. Modern applications often use the `~/.config/` directory and so should we.
We _could_ look into the XDG config directory and `$XDG_HOME`, however.

[2014-10-16 22:28] #129 closed, assigned to manuelmessner

[2014-10-16 22:34] matthiasbeyer commented on #220
sounds reasonable to me.

[2014-10-16 22:51] #72 closed, assigned to manuelmessner

[2014-10-17 00:29] matthiasbeyer commented on #220
Another Idea I just had: Why not depending on one env-variable and maybe the `etc/waysome.conf` ? That would be much less overhead. Or are there any major disadvantages with this?

[2014-10-17 09:59] neithernut commented on #220
Yep: you have to set your environment. Sane defaults are _always_ preferable.

[2014-10-17 14:11] #181 closed, assigned to matthiasbeyer

[2014-10-17 14:56] TheNeikos commented on #215
Doing this now.

[2014-10-17 15:02] #179 closed, assigned to TheNeikos

[2014-10-17 15:02] #197 closed, assigned to nobody

[2014-10-17 15:15] TheNeikos opened #223 "Unify include path in compositor"
right now there are absolute and relative includes _all over the places_

[2014-10-17 15:15] TheNeikos commented on #223
Will do that next

[2014-10-17 15:19] matthiasbeyer commented on #223
:+1:

[2014-10-17 15:21] neithernut commented on #223
Absolute paths.

[2014-10-17 15:21] #223 closed, assigned to nobody

[2014-10-17 15:26] matthiasbeyer commented on #223
@neithernut Why did you close this, it's not yet done!

[2014-10-17 15:33] neithernut commented on #223
It's solved in the branch for compositor reorganisation...

[2014-10-17 16:12] neithernut opened #225 "Add wl_output implementation"
We need an implementation of the `wl_output` global.

[2014-10-17 16:43] #215 closed, assigned to nobody

[2014-10-17 18:41] matthiasbeyer commented on #191
Can be closed, right?

[2014-10-17 18:45] #191 closed, assigned to nobody

[2014-10-17 19:43] xVin commented on #160
Can be closed.

[2014-10-17 19:44] #160 closed, assigned to xVin

[2014-10-17 20:12] neithernut opened #229 "Add ws_set_select_greatest and ws_set_select_lowest"
@TheNeikos introduced `ws_set_select_any()` which selects the first item of a set it finds and returns it. Based on the `ws_object_cmp` function, one could realize `ws_set_select_lowest()` and `ws_set_select_greatest()`.

[2014-10-17 20:59] TheNeikos commented on #176
This can be closed

[2014-10-17 20:59] #176 closed, assigned to TheNeikos

[2014-10-17 21:00] #174 closed, assigned to TheNeikos

[2014-10-18 04:29] neithernut opened #232 "Add CMake module for finding libinput or libevdev"
A CMake Module has to be written which searches for libinput. The existing Modules may be used as a template for this.

[2014-10-18 14:10] matthiasbeyer opened #233 "[Request] `ws_command` interface enhancements"
For my work on the JSON deserializer, I need some more functionality in the `ws_command` type interface:
- Construct a command object, plain, without any values set
- Setters/Getters for
  - Command name
  - Command type
- Arguments modification
- A finalizer method for "Hey, here is a command, fill out all values I didn't" or something like that

Also, the getter by name should be chaned to retur

[2014-10-18 14:29] neithernut commented on #233
I think you don't quite understand how these things work...
Look at the documentation. All these fields are public _for a reason_.
Also: you don't have a sequence of commands, but of `ws_stantement`s.
And "Fill out all values I didn't" is plain bullshit.

[2014-10-18 14:40] neithernut commented on #233
Concering arguments: have a `ws_array`, collect all the arguments and then memcpy them into the statement.
Same goes for the statements.

[2014-10-18 14:46] matthiasbeyer commented on #233
What is that `ws_statement` you're talking of? I don't know that type.

[2014-10-18 14:55] neithernut commented on #233
Look at `src/command/command.h`

[2014-10-18 17:17] neithernut commented on #233
I'll assume this can be closed now...

[2014-10-18 17:19] matthiasbeyer commented on #233
ACK.

[2014-10-18 17:19] #233 closed, assigned to neithernut

[2014-10-18 17:21] neithernut opened #236 "Add the command processor"
The command processor needs to be implemented. This is quite an easy task as it will just fetch data from the connectors, use the deserializer to get messages, feed them to the action manager and push messages to the client unsing the connector and the serializer, it the connection in not read only.

[2014-10-18 17:22] neithernut commented on #236
Blocks #219.

[2014-10-18 17:22] neithernut commented on #151
Blocks #236.

[2014-10-18 18:24] xVin commented on #236
If this has time until tomorrow, I'd like to do it. (Gotta prepare a presentation first this evening.)

[2014-10-18 19:08] matthiasbeyer commented on #236
Isn't this what #235 covers? Or am I messing up two different things here?

[2014-10-19 16:38] neithernut commented on #236
Nope, this is another thing.
While the _action manager's processor_ processes single transactions, the _command processor_ is the component which reads from the connector, deserializes a message and then eventually pushes that message to the action manager, serializes the result and pushes it back over the connector.

[2014-10-19 18:30] neithernut commented on #232
I was just looking into `libinput` more closely and I realized that it was actually using [libevdev](http://www.freedesktop.org/wiki/Software/libevdev/) under the hood.
The things libevent actually does, seem to be:
- automatically identifying new devices, which is a very minor thing
- grouping devices into seats it supports, which is a very minor thing, too
- abstracting events by as good as noth

[2014-10-19 18:38] matthiasbeyer commented on #232
Whenever I read somethink like this, I consider saying "Hey, why don't you write to the developers of that library and request a fix for this", so I'll do this now:

Hey, why don't you write to the developers of that library and request a fix for this?

[2014-10-19 18:50] neithernut commented on #232
Because the only way to do this would be a complete rewrite.
And I don't care enough about people using shitty libraries if they don't need to.
And this fact is actually known to them. They just don't care enough to change it (ATM).

[2014-10-19 20:03] matthiasbeyer commented on #26
This is directly related to #63 , which I proposed to close unmerged. As soon as we agreed on this, we should close this.

[2014-10-20 07:36] matthiasbeyer opened #239 "Q: Documentation to doc/custom/ or into the src/ directory?"
We (@neithernut and me) started a battle about where documentation belongs to. He means, documentation should go besides the documented functionality, so, into the `src` directory. I think, the `doc/custom/` directory is the destination of the documentation.

Of course, we're talking about extensive documentation here, not function documentation but documentation about functionality.

I would like

[2014-10-20 07:36] matthiasbeyer commented on #239
Directly related to #230 and #235

[2014-10-20 10:59] neithernut commented on #239
Having the documentation residing in the source directory has _at least_ a few advantages. For example:
- Programmers see the documentation directly when browsing sources. She/he imediately knows about both the existence and location of the documentation.
- Programmers which do not know much about doxygen don't get frustrated when searching for documentation. They are not required to look things u

[2014-10-20 11:50] neithernut opened #240 "Add a convenience function for executing transactions"
As soon as the processor is merged, one can write a function which prepares a stack by pushing a context (a nil value may suffice for now), executes the transaction and returns a return message created from the value lying on the top of the stack after execution.
This would be declared in `src/action/manager.h`

[2014-10-20 11:51] neithernut opened #241 "Add return message type"
We need a message type for return messages.

[2014-10-20 11:51] neithernut commented on #241
Blocks #240.

[2014-10-20 11:52] neithernut commented on #218
Blocks #240.

[2014-10-20 11:53] neithernut commented on #240
Blocks #236.

[2014-10-20 12:27] matthiasbeyer commented on #241
For the naming: This should be named "answer" or "response" (which is stated in the spec with this name, I guess).

[2014-10-20 12:51] neithernut commented on #241
I'll look it up. I'm on it btw.

[2014-10-20 13:00] matthiasbeyer commented on #241
:+1:

[2014-10-20 13:07] matthiasbeyer commented on #241
Let me add a short note/question: A result message should be a bit of an abstract type, as a result can either be an answer or an error. I don't know yet how to do the abstraction here, but we clearly need to have some kind of "supertype" for this.

[2014-10-20 13:29] neithernut opened #244 "Transactions don't have their own object type id"
The entire object type id stuff is missing from `ws_transaction`.

[2014-10-20 13:32] matthiasbeyer commented on #244
For clearification: Not the object supertype is missing but the id stuff! (just if someone else then you implements this).

[2014-10-20 16:22] #241 closed, assigned to neithernut

[2014-10-20 16:27] matthiasbeyer commented on #239
After we discussed the topic, I came to the conclusion that @neithernut s points here are sane and valid.

Anyways, the documentation should be in as few files as possible (prefer longer files over more files) when writing documentation for things. So, we agreed on having the documentation in the `src/` directory.

[2014-10-20 16:27] #239 closed, assigned to nobody

[2014-10-20 16:38] #218 closed, assigned to neithernut

[2014-10-20 17:08] neithernut commented on #240
I'm doing this right now.

[2014-10-20 19:15] #240 closed, assigned to neithernut

[2014-10-20 19:31] neithernut commented on #236
I'm currently on this, to save some time (nothing else to do right now...).

[2014-10-20 20:35] neithernut opened #250 "Add latex setup"
We will need a setup to build the user documentation.

[2014-10-20 20:59] matthiasbeyer commented on #244
@neithernut Tell me what to do exactly (callbacks, I assume?) and assign me (Or review my PRs so I can continue).

[2014-10-20 21:01] neithernut commented on #244
Add the static struct needed for a type. Except for the init callback, all the callback fields may be set to `NULL`.

[2014-10-20 21:04] matthiasbeyer commented on #244
The init callback is unused, so this is `NULL` either!

[2014-10-20 21:24] #244 closed, assigned to matthiasbeyer

[2014-10-20 22:39] #232 closed, assigned to nobody

[2014-10-21 01:19] neithernut opened #256 "Add preliminary evdev discovery code"
For now, the directory the device files show up will be watched.

[2014-10-21 01:20] neithernut opened #257 "Extend the wl_pointer interface"
The `wl_pointer` interface has to be implemented in a way that allows updating the position from the outside.

[2014-10-21 01:23] neithernut opened #258 "Add evdev dispatchers"
We need some preliminary dispatchers (libev io watchers) which dispatch events onto the clients via the `wl_seat` and `wl_pointer` interfaces. (Keyboard and touch interfaces come later.)

[2014-10-21 01:25] neithernut commented on #256
Blocks #258.

[2014-10-21 13:59] #219 closed, assigned to neithernut

[2014-10-21 14:00] #236 closed, assigned to nobody

[2014-10-21 14:04] neithernut opened #259 "Add connection accept()ing code"
We need to create a socket plugins can connect to. We also have to `accept()` connections from it.

[2014-10-21 14:08] neithernut commented on #220
Relevant bits regarding env-cars: http://standards.freedesktop.org/basedir-spec/basedir-spec-latest.html

[2014-10-21 14:24] #71 closed, assigned to manuelmessner

[2014-10-21 15:08] TheNeikos commented on #225
Weeeee

[2014-10-21 15:09] #225 closed, assigned to TheNeikos

[2014-10-21 15:21] neithernut commented on #257
What was acutally missign was a function to set deltas and a way to get a `wl_pointer`. Both is implemented now.

[2014-10-21 15:21] #257 closed, assigned to nobody

[2014-10-21 15:32] neithernut opened #263 "Add wl_keyboard"
We'll need a keyboard interface at some point.

[2014-10-21 15:39] neithernut opened #264 "Add xkb to build env"
Blocks #263.

[2014-10-21 15:57] matthiasbeyer commented on #182
I implemented the string type tests. They are failing.

@xVin please fetch my branch "add-string_type_tests" from my repository and use it to implement the fixes. Send all patches together as PR to this repository.

[2014-10-21 16:48] xVin commented on #182
Ok, I'll do this starting tomorrow - after the dreaded presentation is over.

[2014-10-22 11:28] neithernut opened #267 "Implement arithmetical commands"
The stubs are in `src/commands/arithmetical.c`. The first argument should be set to the result.

[2014-10-22 11:30] neithernut opened #268 "Add logical commands"
Bitwise operations may also be implemented.

[2014-10-22 11:32] neithernut opened #269 "Add jump command"
We'll need a command for jumps

[2014-10-22 11:33] neithernut opened #270 "Add string commands"
We need some commands for strings in the API.

[2014-10-22 12:40] xVin commented on #267
Please assign me if that's ok. I'm finally done with my presentation & ready to get back to work.

[2014-10-22 12:46] matthiasbeyer commented on #267
@xVin The string is more critical atm.

[2014-10-22 12:49] xVin commented on #267
String testing? Ya I thought I'd start doing this tomorrow & just wanted something small for today because I'm so tired.
If you refer to the string API commands, just assign me to that instead.

[2014-10-22 12:51] xVin commented on #267
Ok, just read the other thread. I'll try to fix the string stuff first then.

[2014-10-22 13:34] #26 closed, assigned to manuelmessner

[2014-10-22 13:34] #64 closed, assigned to matthiasbeyer

[2014-10-22 13:35] matthiasbeyer commented on #170
I assume this can be closed? Don't know...

[2014-10-22 13:38] matthiasbeyer commented on #175
Q: @TheNeikos Can you provide a list of steps what has to be done for this?

[2014-10-22 13:39] matthiasbeyer commented on #268
@neithernut Can you provide a list of steps what has to be done for this or how this is done? I would like to do this!

[2014-10-22 13:44] neithernut commented on #170
Well...

[2014-10-22 13:45] matthiasbeyer commented on #170
Well?

[2014-10-22 13:46] neithernut commented on #268
Have a look at `src/command/CMakeLists.txt`. It contains a description on how to do things.

[2014-10-22 13:47] neithernut commented on #170
Leave this open until I decided what to do, which implies having time to work on this issue.

[2014-10-22 13:48] matthiasbeyer opened #272 "Remove deprecated methods"
We currently have the methods
- `ws_object_unlock_read()`
- `ws_object_unlock_write()`

These should be removed from the source code as well as all calls to them (and be replaced with `ws_object_unlock()` calls).

[2014-10-22 14:09] TheNeikos commented on #175
One would have to abstract the framebuffer of a monitor in such a way that it could also point to an already existing framebuffer.

[code]

[2014-10-22 14:11] matthiasbeyer commented on #175
So one has only to change the `ws_monitor` type to be able to get a `ws_frame_buffer` (the `buffer` member) set?

[2014-10-22 14:13] TheNeikos commented on #175
No, each monitor still needs their own framebuffer as this is what the graphic card sends to the monitor.

Something like "This monitor copies exactly what is written in that other monitor" _everytime_ the other one updates.

[2014-10-22 15:36] #269 closed, assigned to neithernut

[2014-10-22 15:44] neithernut commented on #264
What do we actually need? There are
- `xkbcommon`
- `xkbfile`

I'm pretty sure we want the xkb file loading library, but do we also need xkb-common?

[2014-10-22 16:53] TheNeikos commented on #256
Can be closed

[2014-10-22 16:53] #256 closed, assigned to neithernut

[2014-10-22 19:53] neithernut opened #280 "Add wl_region type"
We need a region type, so clients can attach region surfaces to them.
Also, the compositor's method for creating regions has to be implemented.

[2014-10-22 19:54] neithernut opened #281 "Attach a region to a surface"
...so we can detect and emit enter- and leave-events.

[2014-10-22 20:07] neithernut opened #282 "Add function for verifying type of object"
We need something like `is_instance_of`.

[2014-10-22 20:21] neithernut opened #284 "Expand transaction by functions for easy partial assemlby"
This includes functions for:
- Appending commands
- Appending arguments to the last command

[2014-10-22 20:25] neithernut commented on #280
Blocks #281.

[2014-10-22 20:29] neithernut opened #285 "Add code for detecting enter- and leave events"
We need code for detecting whether the mouse cursor is entering or leaving the input region of a surface.

[2014-10-22 21:30] matthiasbeyer commented on #268
I will implement the bitwise operations in a separate PR and open an issue for this right now (and self-assign it).

[2014-10-22 21:31] matthiasbeyer opened #288 "Add binary commands"
In relation to #268 , one should add the binary operations/commands.

I will do this this weekend.

[2014-10-22 21:32] matthiasbeyer commented on #288
@neithernut Please add the appropriate Milestone here.

[2014-10-22 22:35] #284 closed, assigned to matthiasbeyer

[2014-10-23 13:51] #282 closed, assigned to neithernut

[2014-10-23 13:52] #268 closed, assigned to matthiasbeyer

[2014-10-23 14:46] #272 closed, assigned to manuelmessner

[2014-10-24 06:37] xVin commented on #267
As I can't work on the ws_string tests atm because of a problem with my build env (and the "unlock mystery"), I will do this first.

[2014-10-24 18:55] matthiasbeyer opened #298 "Remove init callback"
The "init" callback for the object type (and all subtypes) does not make sense at all. We should get rid of it until some point.

I assigned this to @xVin because it is not that urgent (no critic here)!

[2014-10-25 13:55] neithernut commented on #264
I'll close this for now. We'll open another issue should we need `xkbfile`.

[2014-10-25 13:55] #264 closed, assigned to neithernut

[2014-10-25 16:39] matthiasbeyer commented on #175
Hm. I understand what you mean, but I don't understand what needs to be done for this. I assume (although I cannot find the appropriate code) that each monitor object has something like a "in" buffer and a "out" buffer, and you want me to provide a possibility to make one monitors "in" buffer the "out" buffer of another one.

So I guess I have to look at `src/compositor/monitor.c`. But I don't see

[2014-10-25 18:10] TheNeikos commented on #175
Nope, there is no intermediary buffer right now, which is the 'problem'. Everything gets blitted right away!

[2014-10-25 18:12] matthiasbeyer commented on #175
Hm. But blitting right away sounds much more efficient from why I understand, right? So it would be a change in the blitting code, to blit on several buffers at once instead of blitting in a temporary buffer, am I right?

[2014-10-25 19:19] matthiasbeyer commented on #182
I'm currently doing some further investigation on this and well... the tests are awefully slow (I don't know why) and functions which should only return do not (I don't know why) and the tests fail at points where they shouldn't (and I don't know why).

So, this seems to be a bit more advanced topic here.

[2014-10-25 19:41] matthiasbeyer commented on #182
This stuff gets more confusing the more I dig into it.It seems to me that the `ws_string_init()` function segfaults _at return_ (not on the `return` statement, ~~but on the `ret` opcode~~ edit: actually the `leave` opcode causes the segfault). This is _really_ confusing right now.

(I commented out everything which had to do with threading (locks/locking) for the current debugging).

[2014-10-25 19:49] TheNeikos commented on #175
We already blit on all monitors at the same time ^^

We will first have to decide how to handle surface commits, right now they are still unsuitable to be used. I still suggest you read into the code, but not yet try to think on how to implement this.

[2014-10-25 19:52] TheNeikos commented on #182
Sounds like a buffer overflow to me? Could that be the problem? A stack allocated string overflowing is deadly for the opcodes that follow.

[2014-10-25 20:12] matthiasbeyer commented on #182
Nope, I don't find any the like. I'm far beyond this level right now, on the registers level, but the `rbp` and `rsp` registers have the same values right after function enter and before `leave`.

[2014-10-26 12:52] neithernut commented on #182
I think I made _some_ progress, I pushed the stuff I did to `add-string_type_tests` in my repo, so you can review the changes I did and use it as a starting point for further investigation.

---

Maybe we should rip out the `is_utf8`-stuff completely. Conversion to raw format may as well be _assumed_ to return an utf8-string.

[2014-10-26 18:52] neithernut commented on #182
I got a fairly big part to work.
In the end it was just fixing subtile mistakes and carefully reading the documentation.

[2014-10-26 18:54] xVin commented on #182
Sorry for all the trouble with the code. :(

[2014-10-26 19:01] neithernut commented on #182
Never mind, it wasn't your fault, really. As you can see, even @matthiasbeyer was clueless. There seem to be just too many subtile things you have to have in mind when working with icu, e.g.:
- Always initialize `err`, because icu functions will refuse to do anything if it is set to an "error-value", it will not even touch `err` itself.
- `u_stringFromUTF8` and some other functions are designed so

[2014-10-26 21:00] xVin commented on #298
Can be closed.

[2014-10-26 21:02] #298 closed, assigned to xVin

[2014-10-26 21:46] matthiasbeyer commented on #182
Merged your changes and updated the PR.

[2014-10-27 08:43] neithernut opened #307 "Unify value type getter names"
The boolean type is the only type where the getter is named `_plain` instead of `_get`, for the string type, it's `_get_str`. This complicates writing helper macros.

[2014-10-27 11:59] #307 closed, assigned to xVin

[2014-10-27 12:36] xVin opened #309 "Problem building tests"
When I try to build the tests, I get the error messages below.

@manuelmessner  said something about having had a similar problem, maybe you can describe your fix in a little more detail?

Maybe this is sth. that needs to be fixed in general.

[code]

[2014-10-27 13:52] TheNeikos commented on #280
Done!

[2014-10-27 13:52] TheNeikos commented on #281
Done as well!

[2014-10-27 13:53] TheNeikos commented on #258
Done

[2014-10-27 13:58] matthiasbeyer commented on #258
can be closed?

[2014-10-27 13:58] #258 closed, assigned to nobody

[2014-10-27 13:58] matthiasbeyer commented on #281
Can be closed?

[2014-10-27 13:58] matthiasbeyer commented on #280
Can be closed?

[2014-10-27 13:59] neithernut commented on #281
The PR associated to this issue is not yet closed.

[2014-10-27 13:59] neithernut commented on #280
Nope, not _yet_.

[2014-10-27 14:00] #127 closed, assigned to nobody

[2014-10-27 14:16] neithernut opened #313 "Pass click-events to the currently active application."
This bit is missing. Once it's dome we've reached another milesone!

[2014-10-27 14:20] neithernut opened #314 "Pass keyboard events to the application having focus"
For now, passign the keyboard input directly to the application is sufficient.

[2014-10-27 14:44] matthiasbeyer commented on #314
I would like to do this in pair-programming with @TheNeikos !

[2014-10-27 15:08] neithernut opened #316 "Make ws_object_unref() call the deinit callback even if it is allocated on the stack"
Easy as cake.

[2014-10-27 15:09] TheNeikos commented on #314
![](http://www.peacethroughpie.org/wp-content/uploads/2013/09/baked-pie.jpg)

[2014-10-27 15:13] neithernut commented on #314
![](http://qph.is.quoracdn.net/main-qimg-79db28e82ade28acb1cd7d054874b7ea?convert_to_webp=true)

[2014-10-27 15:24] #316 closed, assigned to nobody

[2014-10-27 15:44] manuelmessner commented on #309
I fixed this by unsetting my environment variables CFLAGS and CXXFLAGS

[2014-10-27 15:44] matthiasbeyer commented on #309
How?

[2014-10-27 15:46] neithernut commented on #309
The env-vars were _unset_ on nadja's terminal.

[2014-10-27 15:50] matthiasbeyer commented on #309
Oh.

[2014-10-27 16:05] neithernut opened #318 "Add function(s) to (re)initialilize a ws_value_union to a specific type"
Would be handy sometimes. Would be _especially_ handy when implementing commands.

[2014-10-27 16:07] matthiasbeyer commented on #318
Would be great to have something like this!

[2014-10-27 17:02] #280 closed, assigned to TheNeikos

[2014-10-27 17:02] #281 closed, assigned to nobody

[2014-10-27 17:02] #285 closed, assigned to nobody

[2014-10-27 17:50] manuelmessner commented on #309
@matthiasbeyer
with `unset` in bash, sh, ...
and `set -e` in fish

@neithernut
After unsetting these two vars I could compile the tests without any further problems

[2014-10-27 17:53] neithernut commented on #309
This still doesn't solve the issues surfacing on nadja's machine.

[2014-10-27 18:29] neithernut commented on #250
We'll use texinfo.

[2014-10-27 20:02] #313 closed, assigned to nobody

[2014-10-27 22:09] neithernut opened #321 "Add tree holding shortcuts"
We need a datastructute which holds the shortcuts as a tree which may be traversed at single key events.

[2014-10-27 22:16] neithernut opened #322 "Add set holding transactions to be triggered by an event"
The transactions also have to be triggerable by events. Note that a transaction also has an id and a name. We may adjust the hash and the cmp callback to enable searching for a transaction.
Additionally, we also need some mapping from events to transactions.

Part of a PR targeting this would also be adding transactions if the appropriate flag is set and reacting to events in `ws_action_manager_pr

[2014-10-27 22:17] neithernut opened #323 "Add event type"
We need an event message type.
Blocks #322.

[2014-10-28 00:05] #318 closed, assigned to nobody

[2014-10-28 00:05] #250 closed, assigned to neithernut

[2014-10-28 02:56] #151 closed, assigned to matthiasbeyer

[2014-10-28 13:06] neithernut opened #326 "Structure user documentation"
The user documentation in `doc/user` should be extended from, well... nothing, to a structured document. This PR is purely about structure. Content is not neccessary.

[2014-10-28 13:07] neithernut opened #327 "Convert section about json api to LaTeX"
This way we can use the section in the user documentation.

[2014-10-28 13:08] neithernut commented on #326
Blocks #327.

[2014-10-28 14:46] #220 closed, assigned to neithernut

[2014-10-28 15:05] neithernut opened #330 "Add push and pop command"
We need some commands for pushing and popping.
Pushing would be a special command. Popping should also be implemented as a special command.
The commands would go into the `control` category of commands.

[2014-10-28 15:09] neithernut opened #331 "Add command for storing a value"
This would be a special command, which would read the `top` (or some argument passed directly) and put it into a position given to the command.
The decision which argument should come first is up to the one implementing this.

[2014-10-29 01:38] neithernut opened #338 "Add high level error output"
The main function has a bunch of initialization code which mostly consists of things like:

[code]

This should be extended by a bit of logging, so the user is notified when a subsystem could not be initialized (or, if the verbosity level is high what subsystems are initialized).

[2014-10-29 07:39] matthiasbeyer opened #339 "Framework for transaction testing"
I guess we should write a framework for transaction testing. I don't know whether this can be done with check, but I imagine something like a bunch of transactions in `tests/check/transactions/` or something, where each one gets loaded and parsed and then verified.

I consider this as important. The infrastructure should be capable to do the reverse as well: Having some commands and translating it

[2014-10-29 14:46] #182 closed, assigned to xVin

[2014-10-29 17:11] #267 closed, assigned to matthiasbeyer

[2014-10-29 17:51] neithernut opened #346 "The deserializer should not return a half-assembled message"
The deserializer currently drops out if it encounteres malformed input, which is what it should do, anyway. However, it leaves behind a half-assembled message, which potentially leads to a segfault.

[2014-10-29 18:51] #346 closed, assigned to nobody

[2014-10-29 18:55] #288 closed, assigned to matthiasbeyer

[2014-10-29 21:09] matthiasbeyer commented on #331
You mean "put it into a position on the stack" by "put it into a position", right?

[2014-10-29 21:38] neithernut commented on #331
Yeah....

[2014-10-29 23:37] matthiasbeyer opened #350 "ws_string must be initializeable from ws_string itself"
The interface should look like this:

[code]

[2014-10-29 23:38] matthiasbeyer commented on #350
Blocks #323

[2014-10-30 02:25] neithernut opened #351 "Drop info pages?"
The current setup is aimed at a info page and a man page, both generated from the same/similar sources. Now it turned out that the `latex2man` utility is not as usable as one may whish. And I, for my part, would not like to start writing `texinfo` documentation. (it's... ugly)

If we were to drop the info pages, there would be many options. E.g. we could generate the suer documentation in PDF and

[2014-10-30 11:23] #350 closed, assigned to xVin

[2014-10-30 11:32] #323 closed, assigned to nobody

[2014-10-30 23:18] neithernut opened #355 "Implement serializer for the JSON format"
We need a serializer for the JSON format.
Blocks completion of #259.

[2014-10-31 20:30] neithernut opened #358 "Add ws_event_new"
Should do nothing but allocate memory, call `ws_event_init()` and set the `HEAPALLOCED` flag.
Will need this for my keyboard stuff, but it belong's in another PR.

[2014-11-01 02:03] #358 closed, assigned to nobody

[2014-11-01 11:09] matthiasbeyer opened #361 "Implement Flag support for JSON deserializer"
The JSON deserializer is not yet capable of message flags. This should be implemented.

[2014-11-01 11:09] matthiasbeyer commented on #361
@neithernut Please add a "prio" tag, I don't know how urgent this is.

[2014-11-01 12:55] matthiasbeyer commented on #361
I guess we should discuss the format of the flags, as they are not simply booleans in some cases. I would suggest the following format:

[code]

More fields?

[2014-11-01 14:44] matthiasbeyer commented on #180
@neithernut , @TheNeikos Do we actually need the array type? I wouldn't put effort into this if the array types gets removed anyway!

[2014-11-01 16:05] matthiasbeyer commented on #338
@xVin wants to do this, so I assigned her.

[2014-11-01 19:26] matthiasbeyer commented on #331
How should such a value be named. What parameters should it get?

Something like:

[code]

for setting the 4th topmost value to 1? What do you have in mind for this?

[2014-11-02 14:03] neithernut commented on #331
This would be sufficient.

[2014-11-02 14:05] #229 closed, assigned to nobody

[2014-11-02 14:08] neithernut commented on #180
Mh... I will check this when I'm back in FuWa.

[2014-11-02 14:13] neithernut commented on #361
You actually don't register a transaction under an event name, but a transaction name. The mapping between events and transactions is done in a different place.
The registration should be a string, not an object.
Also, the execute flag should be `true` by default.

---

There are also a few other options I'd like to discuss on monday.

[2014-11-02 14:25] matthiasbeyer commented on #361
Well, the `register` part was for attaching a transaction to an event, but well, it should be

[code]

of course. Mapping a transaction to an event should be done in another way, of course.

The execution flag should be true, indeed. At this very moment, the serializer sets it automatically. This will change as soon as flags can be parsed, of course.

[2014-11-02 14:27] matthiasbeyer commented on #331
How should such a command be named? My suggestions:
- "putinstack" (not refering to Putin here...)
- "store"
- "stackstore"
- "stackpostoval"

maybe with underscores or dashes like so: "put-in-stack" etc.? I'm unsure about it...

[2014-11-02 21:24] neithernut commented on #331
Why such long names? `store` or even `sto` are totally sufficient.

[2014-11-03 08:41] xVin commented on #331
Though I have to admit "Putinstack" made me laugh :D

[2014-11-03 13:51] matthiasbeyer commented on #351
To get this discussion going: ACK. I would rather provide an extensive manpage then a crappy infopage and a short manpage.

Others do it this way, too, just look at the manpages of git. So I don't see any problem with a large manpage.

[2014-11-03 16:25] #338 closed, assigned to xVin

[2014-11-03 16:25] xVin commented on #330
I'm trying to do this atm. ;)

[2014-11-03 16:29] #270 closed, assigned to xVin

[2014-11-03 16:33] neithernut opened #365 "Add function table to object"
We need a way to issue methods trough the API. This should be implemented similarly as the attribute setting system using a table containing a method's name and a function pointer of a "regular command".

[2014-11-03 16:37] neithernut opened #366 "Add global context object for use in transaction."
When a transaction is run, an object should be pushed to the stack prior to running the transaction, which serves as a kind of "global context".
Users may use this e.g. to query other objects to involke methods on.

[2014-11-03 16:38] neithernut commented on #365
Blocks #366.

[2014-11-03 18:26] matthiasbeyer commented on #365
Q: Can you elaborate on the shape of this? The name thing is clear, but how should the function callbacks look like? They are 'regular command' functions, if I understand your description. But how do things work together, how is the actual object passed and so on?

Please provide naming examples for such a function callback. Is something like this sufficient:

[code]

for example? What would happe

[2014-11-03 19:09] neithernut commented on #365
A object id (pointing to the object on which to invoke the method) and the method name ("to_string" in this case) and the arguments should be on the stack.
The command should then lookup the method and invoke it, passing the stack as-is to the function callback.

[2014-11-04 13:32] #361 closed, assigned to matthiasbeyer

[2014-11-04 15:15] neithernut commented on #322
I have to do this myself.

[2014-11-04 20:46] neithernut opened #372 "Redefine object deinitilization function to call all the deinit callbacks"
Deinitialization currently is pretty fucked up.
If an object is deinitialized, only the "topmost" callback will be considered. Implementations of that callback need to call the deinitialization functions of the underlying types on their own, which is not the best design.
The deinitialization function should traverse the inheritance tree towards the root and call every deinitialization callback set

[2014-11-05 11:51] neithernut opened #375 "Add event deserialization"
The deserializer should also be able to deserialize events.

[2014-11-05 18:06] matthiasbeyer commented on #375
For a plugin, sending an event to the software? Can you provide a use case for this?

[2014-11-05 18:09] neithernut commented on #375
I can instantly provide two:
- Triggering stored transactions
- Debugging

[2014-11-05 18:15] #372 closed, assigned to nobody

[2014-11-05 18:36] matthiasbeyer commented on #375
Shouldn't triggering of an transaction be a command? I know, it is simpler to implement with events, because events are supposed to trigger transactions, but I guess it would cause less overhead in the code if we simple add a command to trigger a transaction.

What do you think on this _suggestion_/_question_?

---

What do you mean by debugging? Debugging the plugin or our source? And how would a

[2014-11-05 19:20] neithernut commented on #375
An event would be **far** less overhead. **And** you can pass parameters by triggering a transaction through an event (via the value). It's the **one** obvious thing to do here!

---

Debugging transactions in general. You can, e.g., fake an event which usually would be invoked by a key-combo.

[2014-11-05 19:28] matthiasbeyer commented on #375
ACK to both points. I'll do this, of course.

[2014-11-06 11:19] neithernut commented on #309
The problem was that both `-lm` and `-lrt` were missing from the `CFLAGS` or `LDFLAGS`.

[2014-11-06 11:43] #309 closed, assigned to nobody

[2014-11-06 11:45] neithernut commented on #180
The array type can be dumped.

[2014-11-06 11:46] matthiasbeyer commented on #180
I will throw this (ws_array) out now.

[2014-11-06 11:54] matthiasbeyer opened #380 "Add testing for the DAG in #340"
The DAG from PR #340 should be tested.

We (@xVin and me) will do this on sunday.

[2014-11-06 12:00] neithernut commented on #180
The type was removed. Testing is thus not an issue we have to resolve.

[2014-11-06 12:00] #180 closed, assigned to nobody

[2014-11-06 14:05] matthiasbeyer commented on #375
I assume the following format is okay?

[code]

Do we need an id field? I don't think so, right?

[2014-11-06 14:13] neithernut commented on #375
We don't need an "id" field, we do, however, also want an (optional) "value" field (which behaves like a "direct argument" in a statement parameter list).

[2014-11-06 14:17] matthiasbeyer commented on #375
Ok.

[2014-11-06 16:44] #314 closed, assigned to nobody

[2014-11-06 16:44] #263 closed, assigned to TheNeikos

[2014-11-06 17:36] matthiasbeyer commented on #259
Is there anything done yet?

[2014-11-07 02:29] #322 closed, assigned to nobody

[2014-11-07 14:20] #365 closed, assigned to matthiasbeyer

[2014-11-07 14:32] neithernut opened #384 "Add utility for socket paths"
We should have some utility which returns the directory where sockets might be opened or even open the socket itself and returns the fd.
The directories should be based on http://standards.freedesktop.org/basedir-spec/basedir-spec-latest.html.
All sockets should use this new utility.

[2014-11-07 19:50] matthiasbeyer opened #385 "`ws_string_len()` seems to return the length of the string + 1"
If you look at [this](https://github.com/waysome/waysome/pull/357/files#diff-8a6325a071ab3a6eadc10be77d828dc1R332) line, which is run in [this test](https://github.com/waysome/waysome/pull/357/files#diff-cc90077ce3da298b7378c5d67e872012R116) with a string which is 9 characters (10 byte incl. the `NULL`-Byte), it returns `11` instead of `10`.

This should be fixed, as it blocks my testing in #357 (

[2014-11-08 12:11] neithernut commented on #384
For clarification: if the utility returns an opened socket, this means wrapping around at least `socket()` and `bind()`.

[2014-11-09 16:46] #385 closed, assigned to nobody

[2014-11-09 16:46] neithernut commented on #380
The tests are integrated. I'm currently working on fixing the issues uncovered by them.

[2014-11-09 17:03] #351 closed, assigned to nobody

[2014-11-10 20:50] matthiasbeyer opened #392 "Make `ws_value_union` support `ws_value_set`"
Blocks #357

[2014-11-10 21:15] #384 closed, assigned to nobody

[2014-11-10 22:57] neithernut commented on #380
Ah... merged in my branch.

[2014-11-10 22:57] #380 closed, assigned to xVin

[2014-11-11 03:17] neithernut opened #396 "Add code for processing of (potential) key-combinations"
I already have code for this one.

[2014-11-11 03:18] neithernut commented on #321
Blocks #396.

[2014-11-11 13:37] matthiasbeyer commented on #375
This can be closed, I guess.

[2014-11-11 13:43] #375 closed, assigned to matthiasbeyer

[2014-11-11 13:45] #392 closed, assigned to TheNeikos

[2014-11-11 15:17] #321 closed, assigned to neithernut

[2014-11-12 12:07] neithernut commented on #355
Blocks #339.

[2014-11-12 22:56] neithernut opened #399 "Add graceful shutdown"
We need a shutdown function. Breaking from the main-loop is _nearly_ sufficient. However, all the connections have to be shut down gracefully, too.

[2014-11-12 23:00] neithernut opened #400 "Add commands for adding hotkey events to the context object"
There must be functions for adding hotkey events. While the backend versions of those functions exist already, they still have to be exported through the API.

[2014-11-12 23:00] neithernut commented on #396
Blocks #400.

[2014-11-13 06:52] xVin commented on #400
I'd like to do this. Could start tomorrow.

[2014-11-13 10:42] neithernut commented on #400
Sure, you have to wait for the backend to be merged, though.

[2014-11-13 16:53] matthiasbeyer opened #401 "Add `ws_dbg` macro which expands only when compiling with debugging"
It should expand to a `ws_log()` if debugging is enabled.

[2014-11-13 16:54] neithernut commented on #401
You want at least _some_ logs in release software.

[2014-11-13 16:55] #396 closed, assigned to neithernut

[2014-11-13 16:55] neithernut commented on #400
Deps are cleared now.

[2014-11-13 17:01] matthiasbeyer commented on #401
Of course, but not all of them. This macro is for doing `ws_log()` only if debugging is enabled, for example printing input events - you don't need to print every single event in the release software.

[2014-11-14 12:26] neithernut commented on #366
Blocks #400.

[2014-11-14 12:26] #401 closed, assigned to matthiasbeyer

[2014-11-14 13:39] #355 closed, assigned to matthiasbeyer

[2014-11-17 09:51] matthiasbeyer opened #408 "Add or remove dump callbacks?"
By now, the `dump_callback` is not used at all. It is considered for logging. Shall we add implementation for it to be able to log certain objects, or shall I remove it?

[2014-11-17 11:56] neithernut commented on #408
Remove!

[2014-11-17 14:14] #408 closed, assigned to matthiasbeyer

[2014-11-17 14:48] manuelmessner commented on #259
Yes there was nearly everything done when my hard disk crashed.
My system is reinstalled and configured right now. So i'll rewrite it.
It should be finished soon.

[2014-11-17 14:50] matthiasbeyer commented on #259
I hope you get the point of `git push` now.

[2014-11-17 14:52] manuelmessner commented on #259
yeah -.-

[2014-11-17 14:53] matthiasbeyer commented on #259
:angry:

[2014-11-17 20:30] #366 closed, assigned to TheNeikos

[2014-11-17 20:49] #331 closed, assigned to matthiasbeyer

[2014-11-18 14:23] matthiasbeyer commented on #399
This was done by #416 , wasn't it?

[2014-11-18 14:28] neithernut commented on #399
Yep.

[2014-11-18 14:28] #399 closed, assigned to nobody

[2014-11-18 16:37] #330 closed, assigned to matthiasbeyer

[2014-11-18 17:02] #326 closed, assigned to matthiasbeyer

[2014-11-18 17:06] neithernut commented on #15
As this issue is both outdated and misleading, I'll close it and open new ones for the parts still relevant.

[2014-11-18 17:06] #15 closed, assigned to neithernut

[2014-11-19 00:01] neithernut opened #418 "Utilize EGL buffers for rendering"
The blitting code may now use the EGL buffers. It should also take into account the _position_ of the surface rather than only the size.

[2014-11-19 00:04] neithernut opened #419 "Add API function for setting a surface's position"
This basically means implementing said functions and putting them in the type's `function_table`.

[2014-11-19 00:22] neithernut opened #420 "Make "current" surface(s) availible to transactions"
This is a purely conceptual issue which is not intended to have PRs attached to it directly. Other, more concrete issues, which will have PRs attached to them, will refer to this one.

This should generally be done by the contexts a transaction sees. In the end, this should be done by adding functions to retrieve the surfaces as `ws_value_object_id` from the contexts.
As it turns out, these are mu

[2014-11-19 00:23] neithernut opened #421 "Make keyboard- and mouse-focus settable through the global context"
The title sais it all. However, don't be afraid to ask questions.

[2014-11-19 00:25] neithernut opened #422 "Add method for querying the surface having focus to global context"
This blocks #420.

[2014-11-19 00:27] neithernut opened #423 "Add event context for hotkeys subsystem"
The events emitted by the hotkeys subsystem don't carry a context with them. Such a context should include a reference to the surface under the cursor. It should (most naturally) have a method for querying that surface.
Blocks #420.

[2014-11-19 00:31] neithernut opened #424 "Redefine emission of mouse-enter- and leave-events"
Make them modable via transactions/events

[2014-11-19 09:47] TheNeikos commented on #424
How would you do that? As in, make a dedicated function that is called on the mouse?

I am not sure it's a good idea to make it interfaceable for the _mouse_. I am all for the keyboard though.

[2014-11-19 09:50] TheNeikos commented on #420
Blaze it

[2014-11-19 12:29] matthiasbeyer commented on #423
There is a `sturct ws_hotkey_event` type, should an PR for this issue extend this type?

[2014-11-19 12:31] matthiasbeyer commented on #421
I consider a interface to the mouse via the API as really critical (same concerns as @TheNeikos stated in #424).

[2014-11-19 12:41] neithernut commented on #424
Well, in `ws_cursor_set_position`, we currently determine whether the surface below a cursor changed and call `wl_pointer_send_enter()` and `wl_pointer_send_leave()` based on that data. I suggest basing these events on a transaction's return value, making emission the default (if, e.g. no such transaction exists).
Invocation can easily be done by calling `ws_action_manager_process()`, passing a pr

[2014-11-19 12:43] neithernut commented on #421
Note that this is _also_ neccessary to _change_ the focus _actively_ through hotkeys.

[2014-11-19 12:45] TheNeikos commented on #424
I see, so what you mean is so that a plugin is able to actively decide if that window is 'allowed' to have the focus of a given window?

[2014-11-19 12:49] neithernut commented on #424
Yes, e.g. if you just hover over another window but you don't want to have the current surface to loose focus _unless_ you click on the other one.

[2014-11-19 12:51] neithernut commented on #423
Currently, the event _contains_ the context, but there _are_ situations where the context differs.
We _may_ use the `ws_hotkey_event` as the root of a hirarchy of context, but i'm not sure if that's what we want.

[2014-11-19 12:58] matthiasbeyer commented on #421
But I guess this is only the keyboard focus. I'm not sure whether we want this for the mouse focus as well... @TheNeikos what do you think?

[2014-11-19 12:59] matthiasbeyer commented on #424
@neithernut made a good point here.

[2014-11-19 13:10] TheNeikos commented on #421
See #424 for my answer

[2014-11-19 13:15] matthiasbeyer commented on #259
@manuelmessner There is still no PR around, are you actually doing something?

[2014-11-19 14:47] matthiasbeyer commented on #423
I don't understand why the context can differ. How is that possible, can you elaborate or provide an example why this could happen?

[2014-11-19 15:09] neithernut commented on #423
If the hotkeys subsystem emits an event, it should contain date like the surface under the mouse (as described above). If you, however, want to trigger execution from a plugin via an event, you _may_ want to pass some "arguments" or other data to the transaction. Finally, a shutdown may also trigger an event. In this case, you definitely do not care about the surface under the cursor.
TL;DR: There

[2014-11-19 15:13] neithernut opened #425 "Add exec API function"
We want some facility for starting programs through transactions.

[2014-11-19 15:52] matthiasbeyer commented on #425
I guess this includes some utility for fork & exec, right?

[2014-11-19 15:53] neithernut commented on #425
Yep.

[2014-11-19 16:56] matthiasbeyer commented on #422
Don't we need a global storage for this first?

[2014-11-19 17:02] neithernut commented on #422
The API binding is missing. That's the point of this issue.

[2014-11-19 17:14] matthiasbeyer commented on #400
Which functions have to be exported?

Also: Can you elaborate on how the API calls must look like (meta-language is much enough here) and how they behave?

[2014-11-19 17:24] neithernut commented on #400
- `ws_hotkey_add` taking a string, followed by ints as arguments
- `ws_hotkey_remove` taking ints as arguments

[2014-11-19 18:13] neithernut opened #429 "Add API binding for method call"
We forgot completely about _that_. I'm on it.

[2014-11-19 18:29] manuelmessner commented on #259
You were sitting next to me when I was working on it today...

[2014-11-19 18:38] neithernut commented on #259
Point is: when there's a PR, we can _assess_ the progress.

[2014-11-19 18:45] manuelmessner commented on #259
I'll upload my PR when i have a working version or at least when it is nearly working, otherways the history will be a mess.

[2014-11-19 18:49] neithernut commented on #259
You can still rebase a branch/squash commits after submitting a PR (as long as it isn't merged). The only thing you _can't_ do is rename the branch.

[2014-11-19 19:10] #429 closed, assigned to neithernut

[2014-11-19 19:12] matthiasbeyer commented on #423
Couldn't this be generated by using `ws_value_set`, which can contain several objects whenever there are  several values in the context?

[2014-11-19 19:17] neithernut commented on #423
This _is_ an option, but not a nice one.

[2014-11-19 20:00] neithernut commented on #423
Mh.. we just realized that there's a better option.

[2014-11-19 20:00] #423 closed, assigned to nobody

[2014-11-19 20:02] neithernut opened #432 "Add function for getting surface under cursor to global context"
Replaces #423.
@TheNeikos is already on it.

[2014-11-19 20:06] neithernut commented on #432
Blocks #420.

[2014-11-20 17:42] matthiasbeyer commented on #419
Ooops, the PR was not yet merged.

[2014-11-20 17:42] #425 closed, assigned to matthiasbeyer

[2014-11-20 17:43] #327 closed, assigned to matthiasbeyer

[2014-11-20 17:48] matthiasbeyer commented on #420
@neithernut I'd like you to add some bullet points in the main comment of this issue, so we can track its progress more easily.

[2014-11-20 18:47] neithernut commented on #420
You can track the progress using the reference indocators.

[2014-11-20 18:47] #419 closed, assigned to matthiasbeyer

[2014-11-21 01:43] neithernut opened #438 "Add method for setting the background of a monitor"
This would be a method of `ws_monitor`. The method would take a string as it's only argument, which will be the path of the image to load.
Note that a reference to such an image should be added.

[2014-11-21 01:45] neithernut opened #439 "Emit an event if a monitor was discovered/connected"
The event should contain a reference (as an `ws_value_object_id`) to the `ws_monitor` as the event's context. The event name might need some consideration. I suggest prefixing it with `ws_`

[2014-11-21 02:07] neithernut opened #440 "Port to C++"
We talked about porting waysome to C++ eventually. This issue has the purpose of
- documenting that intent
- deciding when and how to perform the step

The current consensus is, I think, to defer this at least until waysome was made usable to some extend (like, version `0.1`). It's still unclear when this will be, but I _assume_ it will be sometime December. We actually have to define release requ

[2014-11-21 10:13] matthiasbeyer commented on #439
I guess something like "monitor_attached" is sufficient, isn't it?

[2014-11-21 10:18] matthiasbeyer commented on #440
I'd like to suggest the following discussion points:
- [ ] Discuss whether we want to port the codebase (language-agnostic discussion here)
- [ ] If we want to port, whether all members agree on the language we want to port to (language discussion here)
- [ ] If we want to port, when (This would be mainly a "in/after the project phase" discussion)?
- [ ] If we want to port, how (strategy)?

[2014-11-21 14:31] neithernut commented on #439
We should _really_ prefix event names generated by waysome itself. This makes them easier identifyable and a user can choose any event name he/she want to use as long as it doesn't start with the prefix (conflict prevention).

[2014-11-21 14:35] neithernut opened #441 "Add API function "instance_of""
We should export `ws_object_is_instance_of` trough the API.
The thing is, we can only use strings to represent types here, so we need another function, which functions like `ws_object_is_instance_of` but uses the _name_ of a type (and compares it against the object type's name).

[2014-11-21 14:40] neithernut opened #442 "Add functions for checking whether a method or attribute is availible"
Those functions should also be exported through the API. This would enable duck-type-ish checking of e.g. contexts passed to a transaction.

[2014-11-21 14:42] neithernut opened #443 "Add "command file" for object related API functions"
This issue means nothing but that API functions defined in #441 and #442 should go into the same file.
Blocks #441 and #442.

[2014-11-21 14:52] neithernut commented on #440
Whether it's C++ or not, porting the Code-base to a language which allows us to use OOP or traits (or both) in an easier way than C will make our lives _much_ easier, as many structures we're using now are architecturally object oriented.
The code base would also greatly benefit from an easier way of error handling, like exceptions.
All those benefits are, of course, nullified, if the interfacing

[2014-11-21 15:03] matthiasbeyer commented on #439
:+1:

[2014-11-21 15:23] matthiasbeyer commented on #440
I get these points and I agree with them. But from your statements, it seems that you consider our code base as to complex for staying in C, am I right? This is the point where I disagree with you, I don't consider our codebase as that complex or clumpy!

Of course, there are parts which could be cleaner in both architecture and complexity, but these can easily be refactored, IMO. Modules I consid

[2014-11-21 15:54] neithernut commented on #440
My point is _not_ that the current code is unmaintainable. It's not. But still, the entire object and value system can be _simplified_ by a great deal using OOP or traits, making them easier to use. The way we implement inheritance is the _one_ nasty caveate we currently have in our caodebase. This can _not_ be simplified by refactoring, but only by redesigning the entire object system or ugly mac

[2014-11-21 15:57] neithernut opened #444 "Extend file section of user documentation"
This would include
- list of locations where waysome looks for a config file to the user documentation
- sockets opened by waysome
- cursor image

[2014-11-21 15:59] neithernut opened #445 "Add list of API commands to user documentation"
Should also include a description of the commands.

[2014-11-21 16:00] neithernut opened #446 "Document the different types of API contexts"
This includes:
- The global API (at stack pos. 0)
- All the event specific contexts (at stack pos. 1)

Both attributes and methods should be documented.

[2014-11-22 11:25] matthiasbeyer opened #449 "`ws_value_union_reinit` lacks of documentation"
What the title says.

`@memberof` and `@return` are missing at all.

[2014-11-22 11:50] matthiasbeyer opened #451 "Not all `ws_object` type methods are thread safe"
Mainly speaking of `ws_object_instance_of()` here, but I guess others aren't, too. I will investigate.

[2014-11-22 11:50] neithernut commented on #443
i realized that such a file already exists.

[2014-11-22 11:51] #443 closed, assigned to nobody

[2014-11-22 11:52] neithernut commented on #451
This special method doesn't need to be thread save as an arguments type doesn't change during runtime! This also holds true for a few other methods.

[2014-11-22 11:54] matthiasbeyer commented on #451
I will investigate on the types anyways and improve where necessary.

[2014-11-22 12:10] neithernut opened #454 "ci.neikos.me appears to be down"

[2014-11-22 12:12] matthiasbeyer commented on #454
http://www.downforeveryoneorjustme.com/ci.neikos.me

Down here, too. @TheNeikos is asleep, though. I try to investigate.

[2014-11-22 12:12] matthiasbeyer commented on #454
Damn, it's not only the CI, it's the complete host. Fuck.

[2014-11-22 12:14] matthiasbeyer commented on #454
Unfortunately, I can `ping` the host, but not enter via web interface somehow.

[2014-11-22 12:59] neithernut commented on #454
I suggest _not_ performing any merges as long as the CI is down. We may, however, work on existing PRs and create new ones.

[2014-11-22 13:04] matthiasbeyer commented on #454
Of course, I won't do any merges as long the CI is down!

[2014-11-22 14:48] #449 closed, assigned to neithernut

[2014-11-22 14:51] neithernut opened #456 ""Fix" manpage setup"
A few infrastructure-items are missing for the manpage to be build properly, e.g. the main environment:
`\begin{Name}{chapter}{name}{author}{info}{title}`

[2014-11-22 15:11] matthiasbeyer commented on #456
I can't do that - just found that I do not have `latex2man` installed and the Archlinux repos do not have it (including Arch User Repository). Feel free to do this on your machine!

(I would do it if the CI would be up and running, assuming that `latex2man` is installed on it...)

[2014-11-22 15:40] neithernut commented on #456
I honestly don't know.
If nobody else is doing it by tomorow then I'll be on it.

[2014-11-22 15:47] neithernut opened #457 "Add method for setting a surface's width and height"
To perform resizes. This also includes exporting them via the API.

[2014-11-22 16:19] matthiasbeyer commented on #259
@manuelmessner and me are currently on this.

@neithernut Please verify that the following is right:
- The accept()ing code creates the `ws_connection_manager\* instance for the connection
- ~~The accept()ing code creates _ws_connbuf_ instances for reading/writing~~

How does the code interact with the rest of the system, mainly speaking of de/serialization here? What to do with the `ws_connection

[2014-11-22 16:35] matthiasbeyer opened #458 "`src/connection/processor.{c,h}` is named inappropriately"
The files should be named `src/connection/manager.{c,h}` respectively, right?

The actual code inside uses the terminus "manager" instead of "processor", that's why I assume this to be wrong. Am I right?

[2014-11-22 17:20] matthiasbeyer opened #464 "`ws_(de)serializer` has no init function"
We (@manuelmessner and me) don't know whether this is on purpose, but I guess @manuelmessner needs them for the accepting code.

Must this be implemented (publicly available or inside the accepting code)?

Blocks #259

[2014-11-22 18:11] matthiasbeyer commented on #451
Just found: does the `ws_keyboard_send_keymap()` need locking on the passed `ws_keyboard` object? @TheNeikos ?

---

Same for `..._send_enter()` and the like...

[2014-11-22 19:12] matthiasbeyer commented on #438
This is actually not that simple, as the monitor code currently seems to blit the duck manually.

I guess there are some changes in the monitor code missing, but I'm not an expert here. I would recomment @TheNeikos implements this, though I already have some basic commits which can be used to continue work on this. They are pushed into my repo on "add-method_for_setting_background". Feel free to c

[2014-11-22 19:14] matthiasbeyer commented on #454
@TheNeikos is still asleep, at least we fail to contact him. Damn.

[2014-11-22 19:27] matthiasbeyer commented on #458
Should wait on #466 and maybe needs some discussion, as there is already a "manager" named file, ... but empty. @neithernut maybe you know what to do here?

[2014-11-22 21:02] matthiasbeyer opened #467 "Remove `@todo`s code"
This Issue is to track progress of the removals of the `@todo` s in all files.
I will not open an issue for each file, which would be overkill (given the list
of files which contain `@todo`s).

We have 129 `@todo`s in the following files:
- [x] `src/action/manager.c`
- [ ] `src/compositor/buffer/buffer.c`
- [x] `src/compositor/buffer/egl.c`
- [X] `src/compositor/buffer/image.c`
- [ ] `src/composit

[2014-11-22 21:20] manuelmessner commented on #440
Hmm...

Let's have a look on these questions from another point.

Let's define:
A(MT) = { x `elem` programming languages @matthiasbeyer is able to write in }
A(TN) = { x `elem` programming languages @TheNeikos  is able to write in }
and so on...
B = { x | x `elem` A(MT)  && x `elem` A(TN) && x `elem` ... }

The only language I can see which is element of B is C.

With "able to write in" I don't me

[2014-11-22 21:42] manuelmessner commented on #467
src/main.c is missing right now

[2014-11-23 02:05] matthiasbeyer opened #477 "Add `_new()` functions for ws_value_* types"
A `_new()` function for certain `ws_value` types would be rather simple, but simplify other code very much.

I guess we should go for it.

[2014-11-23 02:31] matthiasbeyer opened #478 "Add macro "streq""
For simple `0 == strcmp(...)`

Also a `strneq()` macro would be nice.

Refactoring of codebase for this macro would be included in this task. Code should go into `util/string.h` or something like that.

[2014-11-23 02:51] matthiasbeyer opened #479 "`ws_value_string_get()` doesn't do ref counting"
Add this and review all usages.

Should also be done for `ws_value_set` and `ws_value_object_id`.

[2014-11-23 12:25] xVin commented on #479
On it.

[2014-11-23 12:32] matthiasbeyer opened #482 "Check all builtin commands whether they do manual iteration or use `ITERATE_ARGS_TYPE()`"
Check all builtin commands whether they do manual iteration or use `ITERATE_ARGS_TYPE()`.

[2014-11-23 13:09] matthiasbeyer commented on #464
I will propose a PR for this now, to save time and to have something to work on.

[2014-11-23 13:13] matthiasbeyer commented on #464
@manuelmessner just saved me a buttload of work, I just noticed that these types are abstract and do not need any init functions.

I will add some documentation, though.

[2014-11-23 14:12] matthiasbeyer commented on #467
The upper PRs are all I can do, I would like to re-assign this issue to @TheNeikos as soon as these are merged, as most of the `@todo`s are in the compositor code and I don't have a clue what to do there (most of them are just "implement this" ones, ... so ... well, ... it's obious what to do there...)

[2014-11-23 15:04] xVin opened #488 "Fix ws_connector_flush()"
As @neithernut stated in #486, the `ws_connector_flush()` method should return `-EAGAIN` if no more data can be written atm.

I'm currently working on this.

[2014-11-23 15:05] neithernut commented on #488
Read up on `write`. I think it might be that, for non-blocking files, this does _just_ the right thing already.

[2014-11-23 15:23] #464 closed, assigned to matthiasbeyer

[2014-11-23 15:24] neithernut commented on #477
The whole point of values is that we have _lightweight_ means of abstractions for types to put on the stack. Devs should be discouraged from putting them on the heap!

[2014-11-23 15:27] matthiasbeyer commented on #477
But sometimes this is not possible, so functions to allocate & initialize them would be beneficial in some cases.

We could, though, add a comment to the interface here and state that stack allocated `ws_value*` objects should be preferred!

[2014-11-23 15:28] neithernut commented on #477
We can _always_ use a value union instead!

[2014-11-23 15:30] matthiasbeyer commented on #477
This is indeed an option.

[2014-11-23 15:34] neithernut commented on #440
That's now _yet_ the point here, we intended to discuss _when_ to port anyways, but it's still a valid point for not performing a potential port _before_ the end of the semester.

[2014-11-23 15:39] #454 closed, assigned to TheNeikos

[2014-11-23 15:40] manuelmessner commented on #440
I'm not yet sure whether we should port at all.
So I decided just to talk about the time of the project phase.

[2014-11-23 15:44] neithernut commented on #259
The accepting code creates _processors_. Managers are __always singletons!_

[2014-11-23 15:45] #400 closed, assigned to xVin

[2014-11-23 15:48] #441 closed, assigned to matthiasbeyer

[2014-11-23 16:23] neithernut commented on #467
Nopte that a _lot_ of TODOs are actually refering to features which _may_ be introduced but which have a _fairly_ low priority and/or carry a lot of complexity or are associated with a feature which will not be introduced in _near_ future. This hold true specifically for much of the TODOs in the compositor.

Hence, this meta-issue is nice to track stuff, but the effective priority is to be neclect

[2014-11-23 16:28] matthiasbeyer commented on #467
Well, maybe I stated not clearly enough: The intend of this is _not_ to fix all `@todo` annotation, but to review all of them as some may be outdated or could be implemented with just a few lines of code.

The idea of this is clearly _not_ to do all the stuff which should be done via issue tracking etc!

[2014-11-23 16:31] neithernut commented on #467
I'm fine with _that_. However, you should have to stated this more clearly and you should _not_ have assigned this a high priority.

[2014-11-23 16:33] matthiasbeyer commented on #467
This was wrong, I agree.

[2014-11-23 16:43] neithernut commented on #458
As expressed somewhere else, a _manager_ is a singleton whete a processor is an instance sitting on a connection, doing stuff.

[2014-11-23 16:43] #458 closed, assigned to nobody

[2014-11-23 21:27] neithernut commented on #488
Turns out there is nothing to be fixed.

[2014-11-23 21:27] #488 closed, assigned to nobody

[2014-11-24 18:25] matthiasbeyer opened #491 "Arithmetical commands do not support stack positions by now"
Maybe the bitwise and logical also do not support it.

Should be added and tests should be adapted.

[2014-11-24 18:32] neithernut commented on #491
What do you mean by that? The stack is prepared by the action manager, not by the command itself!

[2014-11-24 18:51] matthiasbeyer commented on #491
Yes, but the arithmetical, logical and bitwise commands do not support arguments via stack by now.

[2014-11-24 19:17] neithernut commented on #491
Yes, they do.

[2014-11-24 19:17] #491 closed, assigned to nobody

[2014-11-24 19:40] matthiasbeyer opened #492 "Add `istype` command"
I think we need a command "isnil" to check whether an object on the stack is `NIL` or not.

I don't know whether this should go into an own file (`src/command/nil.*` for example), but I guess we need it, right?

[2014-11-24 19:49] neithernut commented on #492
A way to check for the type of a value would be preferable.

[2014-11-24 20:02] matthiasbeyer commented on #492
Hm. We have already "hastypename" for object related once, but I guess we need also one for the value types, yes. I will rewrite this issue for it.

[2014-11-24 20:16] xVin commented on #492
May I do this?

[2014-11-25 12:51] #477 closed, assigned to manuelmessner

[2014-11-25 13:35] neithernut commented on #492
Yep.

[2014-11-25 13:41] neithernut opened #493 "Enable shutdown-hotkey by config"
I think we can now start putting soe functionality into the config. The most natural thing to start with is shutting down the compositor. This would be done by writing two transactions:
- A strored transaction which performs a shutdown
- A transaction which is executed right away which adds an appropriate hotkey

[2014-11-25 13:54] neithernut opened #494 "Rewrite ws_value_named_value to carry a union"
We should use a `ws_value_union` instead of a pointer to a value.

[2014-11-25 14:04] #445 closed, assigned to matthiasbeyer

[2014-11-25 15:18] matthiasbeyer commented on #494
Will be included in #470.

[2014-11-25 16:20] matthiasbeyer opened #495 "Should `ws_object_getref()` lock internally?"
I guess `ws_object_getref()` should not lock internally. We may already have a write/read locked object when doing getref, so maybe it is not required to lock the object in `ws_object_getref()` OR we should provide a function for getting a ref explicitely without doing a lock before incrementing the ref counter...

What do you think?

[2014-11-25 16:34] neithernut commented on #495
The `refcnt` member is locked by a _seperate_ lock. If `getref` conflicts with the locking state of the _object_, then something is broken.

Note: the `refcnt` member if currently read-write-locked. I think it's safe to discard this model and use a mutex instead for ref-counting. This makes more sense since `getref` and `unref` bot read and write the refcount.

[2014-11-25 16:38] matthiasbeyer commented on #495
Jup, ... sounds good. Feel free to do this! :smile:

[2014-11-25 16:39] neithernut commented on #495
Meh.

[2014-11-26 13:00] matthiasbeyer opened #499 "Refactor string callback of json deserializer"
The string callback contains a bunch of doubled code. Refactor this.

(note for myself)

[2014-11-26 20:43] neithernut opened #505 "EGL buffer lacks getwidth and getheight method"
These should be implemented using `eglSurfaceAttrib()`.

[2014-11-26 21:41] matthiasbeyer commented on #493
Reminder for myself:

Next step for this issue would be the ability to trigger a transaction via hotkey. This should be done by registering the exit transaction for a hotkey and get it executed by pressing a key.

[2014-11-27 14:56] matthiasbeyer opened #510 "Change deserializer (on abstract/calling level)"
This is a question/proposal.

Long story short: I have some problems with the (json) deserializer. They can be solved, but they need some changes in the deserializer calling code and in the whole architecture of the deserializer (on a abstract level).

The "problem" I have is the streaming-parser library which sits behind the deserializer. It's fine to have it and I guess _even_ if there would be

[2014-11-27 16:29] #422 closed, assigned to TheNeikos

[2014-11-27 16:30] neithernut commented on #510
Nope.

[2014-11-27 16:53] neithernut opened #511 "Rip out named value"
I just ran a grep over our code and saw that `value_union` is actually never used.
The type currently has some issues, which need to be fixed. However, we may as well rip it out of our code, **if** it's not needed by anyone.
Originally, it was meant for dictionaries. Question is whether we need this functionality as it was intended originally or not.
I think we can save us a lot of pain if we just

[2014-11-27 16:55] neithernut commented on #511
Would make #494 unnecessary.

[2014-11-27 17:44] matthiasbeyer commented on #511
I agree with you.

[2014-11-27 18:57] #510 closed, assigned to nobody

[2014-11-29 10:51] TheNeikos opened #514 "ws_hotkey_dag_next has a bug"
The bug happens [here](https://github.com/waysome/waysome/blob/develop/src/input/hotkey_dag.c#L196).

It seems to happen that `code < cur.start` and at that moment you get a negative offset which makes everything explode afterwards.

[2014-11-29 11:52] neithernut commented on #514
k, will produce a fix today.

[2014-11-29 13:24] TheNeikos commented on #514
Awesome

[2014-11-29 13:41] TheNeikos commented on #432
This can be closed

[2014-11-29 13:44] TheNeikos opened #515 "Key combos are broken up too quickly"
We get the output 'All keys released' way too early.

To reproduce:

Press CTRL + ALT + Q, then release Q and you should see that message, might be related to #514

[2014-11-29 14:39] #432 closed, assigned to TheNeikos

[2014-11-29 14:58] neithernut commented on #515
I thnk this bug is a pure wording problem: the message is sent every time when a key is released if the keys pressed at that moment are not part of a key-combo.
I'll wrap my head around this one.

[2014-11-29 15:09] #495 closed, assigned to neithernut

[2014-11-29 15:12] #478 closed, assigned to manuelmessner

[2014-11-29 15:14] neithernut commented on #420
All the issues referencing this one are closed now.

[2014-11-29 15:14] #420 closed, assigned to nobody

[2014-11-29 17:01] TheNeikos commented on #515
Ah okay, that makes  sense

[2014-12-01 08:36] matthiasbeyer commented on #494
Would be removed by #511 .

[2014-12-01 09:45] matthiasbeyer opened #519 "We do not have a "FindLibreset" cmake module"
A "FindLibreset" cmake module is missing. I only found this by using heavy sandboxing...

[2014-12-01 12:34] #515 closed, assigned to neithernut

[2014-12-01 12:37] neithernut commented on #519
Find-Modules are a workaround for libraries and utilities which don't ship/install CMake-Files which, in turn, can be used by other CMake-based projects.

[2014-12-01 12:37] #519 closed, assigned to nobody

[2014-12-01 12:38] #511 closed, assigned to nobody

[2014-12-01 12:39] #494 closed, assigned to nobody

[2014-12-01 12:40] #514 closed, assigned to neithernut

[2014-12-01 13:23] #505 closed, assigned to TheNeikos

[2014-12-01 13:30] neithernut opened #521 "Store position in the surface, and use it in the shell surface"
_Many_ surfaces have a position on the screen. Given that the surface is of a specific type, we may use render the surface.

[2014-12-01 14:28] neithernut opened #523 "Add base type for both xdg and wayland shell surface"
This type must hold a `ws_surface` and have a getter for it.

[2014-12-01 16:41] TheNeikos commented on #523
This can be closed

[2014-12-01 16:41] #523 closed, assigned to TheNeikos

[2014-12-01 16:52] #521 closed, assigned to TheNeikos

[2014-12-01 16:54] #442 closed, assigned to matthiasbeyer

[2014-12-01 17:30] matthiasbeyer opened #528 "Add documentation for compositor/keyboard.h"
Just dooooo it! :smile:

[2014-12-01 20:18] neithernut opened #530 "Add method for (un)registering registrations"
...to the global context object. The functions to be used can be found in `src/action/manager.h`.

[2014-12-01 21:26] matthiasbeyer opened #532 "Pressing one key after another fires a event"
When registering "strg-alt-q" on an event, "strg", "alt", "event" executes this transaction, too.

Feel free to add appropriate prio.

[2014-12-01 21:27] matthiasbeyer opened #534 "Pressing hotkeys really slow does not fire a transaction"
Might be related to #532

Pressing "strg-alt-q" really slowly does not fire the registration which is mapped on these keys, whereas pressing them fast executes it.

Feel free to add appropriate prio.

[2014-12-01 21:28] matthiasbeyer opened #535 "`ws_named` does not have a cmp_callback"
This should be added.

It should simply call the compare function on the name members.

[2014-12-01 21:31] matthiasbeyer opened #536 "Check the transaction flags for the transaction which leave the deserializer"
Check whether the transaction flags for the transactions which get emitted by the deserializer are sane all the time.

[2014-12-02 01:50] neithernut commented on #534
In the future, **do not file an issue whithout noting anything about potentially missing prequisites** or a working config to reproduce the bug, for that matter!

[2014-12-02 01:58] neithernut commented on #536
Transaction processing is fucke up. Fix it!
Blocks #534 and #532.

[2014-12-02 02:05] neithernut opened #538 "Make ws_abstract_shell_surface a real object"
Needs to be done for all the methods to work correctly on shell surfaces (not requireing us to have lots of duplicate code). `ws_abstract_shell_surface` will get methods for setting the geometry and API bindings, which can then be used, e.g. in the blitting code or for arranging surfaces on the screen.

[2014-12-02 10:23] matthiasbeyer commented on #536
This issue was actually opened because there is one flag to much for the config flie we're actually testing. The second transaction has only the exec-flag, but the register-flag is set for it as well... that's why I opened this issue...

[2014-12-02 11:33] neithernut commented on #536
I only saw **one** transaction.

[2014-12-02 14:07] #534 closed, assigned to neithernut

[2014-12-02 14:07] #532 closed, assigned to neithernut

[2014-12-02 14:08] #538 closed, assigned to neithernut

[2014-12-02 15:00] #493 closed, assigned to matthiasbeyer

[2014-12-02 15:21] neithernut opened #542 "Add connection manager"
The connection manager should hold a set of connections and accept connections via a `ws_socket`.

[2014-12-02 15:33] neithernut commented on #535
`ws_named` is derived from `ws_string`, so there shouldn't be any problem.

[2014-12-02 15:33] #535 closed, assigned to nobody

[2014-12-02 15:40] #259 closed, assigned to manuelmessner

[2014-12-02 21:42] xVin commented on #530
Would like to do this.

[2014-12-02 21:43] neithernut commented on #530
Ok.

[2014-12-02 22:20] neithernut commented on #492
For clarification: the command should check the _value_'s type (got confused there myself).

[2014-12-02 22:27] xVin commented on #492
Is it ok to put this into command/object.c or should it get its own file?

[2014-12-02 22:33] neithernut commented on #492
I think a new file wouldl be preferable. Maybe `util` or something...

[2014-12-03 00:44] #421 closed, assigned to nobody

[2014-12-03 00:50] #536 closed, assigned to matthiasbeyer

[2014-12-03 07:51] matthiasbeyer commented on #492
I'm sorry I confused you guys...

[2014-12-03 17:41] #528 closed, assigned to TheNeikos

[2014-12-04 16:08] #457 closed, assigned to matthiasbeyer

[2014-12-04 16:09] #479 closed, assigned to xVin

[2014-12-05 16:56] neithernut opened #551 "Emit an event when a new shell surface is spawned"
The context should obviously hold the shell surface (as a `ws_abstract_shell_surface`). Whis will let us perform initial setup on surfaces which get spawned by clients.

[2014-12-05 17:08] neithernut opened #552 "Set up developer's documentation"
At some point we agreed that we want a higher level developer's documentation. @matthiasbeyer and me more or less decided on using MD files in following setup:
- One MD file describing the overall architecture on module/package level, including
  - Short description of each module
  - Description of the interaction between modules
- Each module (`compositor`, `input` etc) should get _one_ MD-file,

[2014-12-05 17:12] matthiasbeyer opened #553 "`ws_socket_deinit()` missing"
The `ws_socket` type has no deinit functionality.

Blocks #550 .

[2014-12-05 17:15] neithernut opened #554 "Add visuability flag to shell surfaces"
Shell surfaces need a visuability addidtionally to position and size. This should be availible via `ws_abstract_shell_surface`. We also need an API command

[2014-12-05 17:17] matthiasbeyer commented on #552
I fully aggree with you, besides one point: I don't think that the `main.c` needs an own documentation file.

But yes for everything else. The assignee should be careful with the location and how the files get embedded, some of the documentation files which do already exist are not put into the right documentation-group. A fix for this could possibly be covered by the assignee as well...

[2014-12-05 20:55] TheNeikos opened #556 "ws_abstract_shell_surface leaks surface memory in cmd functions"
The implementation currently does not `unref` the surface after referencing it.

[2014-12-05 21:04] TheNeikos opened #557 "Warning in src/values/value_type.c:57"
[code]

It seems odd... but well, that's a warning!

[2014-12-05 21:49] matthiasbeyer commented on #557
What the heck is that of a warning?

[2014-12-05 22:18] TheNeikos commented on #557
Well, it's simple. The enum only has 8 possible values, so it's range is 0-7 and we all know that `0..7 < 8`! That's all.

[2014-12-05 22:19] TheNeikos commented on #557
It is fixed by casting it.

[code]

[2014-12-06 11:50] matthiasbeyer commented on #557
Lol. gcc knows what to do, but clang doesn't... strange. I'll fix this!

[2014-12-06 12:18] #451 closed, assigned to matthiasbeyer

[2014-12-06 12:18] matthiasbeyer commented on #451
Closed as the appropriate PR got merged.

[2014-12-06 15:04] #556 closed, assigned to matthiasbeyer

[2014-12-06 15:07] #557 closed, assigned to matthiasbeyer

[2014-12-06 15:08] #554 closed, assigned to TheNeikos

[2014-12-06 15:17] neithernut opened #563 "Add a new context for the connection"
The action manager should be expanded to make the `ws_connection_processor` issuing a transaction availible to the transaction itself. This _may_ be done by storing a reference of the connection inside each transaction. If that reference is unset, a nil value should be placed on the stack.
Blocks #564.

[2014-12-06 15:23] neithernut opened #564 "Make events subscribable by plugins"
The registration concept of the action manager should be expanded so it maps an event to a transaciton _and_ a set of `ws_connection_procesor` subscribed for an event. That subscriptions should be settable and unsettable by the client via the global context.

[2014-12-06 15:24] neithernut opened #565 "Add method for sending events via a connection processor"
To send events to the plugins/clients, we need a method in the connection processor.
Blocks #564.

[2014-12-06 19:10] matthiasbeyer commented on #565
What about `connection_manager_flush_msg()`, doesn't it do exactly this?

[2014-12-06 20:57] TheNeikos opened #568 "SIGILL when opening two weston terminals at the same time"
The problem is that `ws_object_unlock(x)` seems to unlock twice the same object which is obviously wrong and not what the code is doing.

Feel free to checkout my branch `add-compositing` to reproduce.

`$ waysome` followed by 2x `$ weston-terminal` and you will get a SIGILL on the unlock.

[2014-12-07 12:37] neithernut commented on #565
Well... it's not exported via the header, neither it is thread safe.
We also may need a queue in between.

[2014-12-07 13:29] matthiasbeyer commented on #565
A queue? You just told me, at the beginning of the week, that we won't include queues because they make  things complicated!?

[2014-12-07 13:40] neithernut commented on #565
I told you that using queues where you don't have to is an inheritently bad architectural choice. In this case, there simply _are_ very few alternatives it, because a connection might be blocked because there might be pending message at the point of time when an event is emitted.
Using `connection_manager_flush_msg()` in a loop waiting for it to _not_ return `-EAGAIN` would be another option, but

[2014-12-08 01:15] TheNeikos opened #572 "Handle Vertical Sync"
It's pretty important to reduce tearing to the minimum.

A sample implementation can be found here: https://github.com/dvdhrm/docs/blob/master/drm-howto/modeset-vsync.c

[2014-12-08 01:37] TheNeikos opened #573 "Keycombos only work in the order they were specified"
For example `CTRL + ALT + Q` only triggers in that order. `ALT + CTRL + Q` does not trigger it or any other combination.

[2014-12-08 08:38] matthiasbeyer commented on #568
When I start `waysome` in `gdb` and then start `weston-terminal` in another terminal, the first one exits (no segfault). That's really strange!

Do I need to switch TTY?

[2014-12-08 08:38] #553 closed, assigned to matthiasbeyer

[2014-12-08 08:38] #499 closed, assigned to matthiasbeyer

[2014-12-08 08:47] TheNeikos commented on #568
I have had trouble reproducing it now as well.

Perhaps it was a race condition? I rewrote stuff and it doesn't happen there anymore...

[2014-12-08 08:52] matthiasbeyer commented on #568
okay.

[2014-12-08 08:52] matthiasbeyer commented on #568
Anyways we should investigate a bit further... or, if you want, you can close this...

[2014-12-08 12:05] neithernut commented on #573
This is intended behaviour. We may, however, provide an easier way to specify order-agnostic key-combo-_parts_ in the future.

[2014-12-08 12:32] #492 closed, assigned to xVin

[2014-12-09 13:42] #552 closed, assigned to nobody

[2014-12-09 15:04] #542 closed, assigned to matthiasbeyer

[2014-12-10 03:16] neithernut opened #577 "Implement wl_drm and related interfaces"
This includes delivering drm buffers to clients to fiddle around with it. As long as there is no code performing blitting using EGL, hackyly putting the buffers on the screen for testing purposes is acceptable.
Adding a new protocol-xml might be necessary.

[2014-12-10 21:58] TheNeikos opened #580 "Waysome is currently broken due to the ws_connection_manager doing bad things"
As the title says... lots of segfaults, I fixed one, can't be bothered to fix the others...

[2014-12-10 22:48] neithernut commented on #580
@matthiasbeyer introduced it...

[2014-12-11 10:41] matthiasbeyer commented on #565
So, shall we implement a `ws_queue` type? I'd like to do it, but some stuff should be discussed before, I guess. Feel free to open an issue for this and assign it to me!

[2014-12-11 17:40] #580 closed, assigned to matthiasbeyer

[2014-12-11 17:40] #444 closed, assigned to matthiasbeyer

[2014-12-11 23:18] neithernut opened #583 "Allow user to specify hotkeys using strings rather than raw keycodes"
ATM, hotkeys have to be specified raw in the API. It would be nice if we could specify them via strings, like "Ctrl", "Alt", "Q".
This is a relatively elaborate task:
- First of all, the asignee has to investigate how to translate a string to a keycode properly. He/she may then have to write a function to perform this task.
- The existing method of the global context has to be adapted. The functio

[2014-12-11 23:27] matthiasbeyer opened #584 "Double type?"
Do we actually need a double type?

I would implement one, if necessary (none of a big deal), but I doubt we need one. If not, this issue will track the progress on removing the code fragments for the double type introduction.

Relates #467

[2014-12-11 23:40] matthiasbeyer opened #587 "System for identifying execution errors?"
Sorry for the bad title, but I don't know how to phrase it better.

So, my idea is to introduce a "errno-like" definition, which indicates errors in the command execution, including a failure-string table, for easy and consistent logging as well as (way) more simple creation of return-messages (the ones returned via the API).

My idea would be to map some of the `errno.h` values on strings and adi

[2014-12-12 09:49] neithernut commented on #587
For now, we could just make use of `strerror()`.

[2014-12-12 09:52] neithernut commented on #584
I'd omit it for now. If we ever need doubles, or anyone asks for it, we can still implement it.

[2014-12-12 10:02] matthiasbeyer commented on #584
I'll do this.

[2014-12-12 10:08] matthiasbeyer commented on #584
Btw: This would also remove the object-attribute-reading/writing code for doubles, still ACK?

[2014-12-12 10:32] neithernut commented on #584
Yep.

[2014-12-12 11:54] matthiasbeyer opened #592 "Add drone-status-badge to readme?"
Shall I add the drone status badge to the readme?

Would look like this:

Master:
[![Build Status](http://ci.neikos.me/v1/badge/github.com/waysome/waysome/status.svg?branch=master)](http://ci.neikos.me/github.com/waysome/waysome)

develop:
[![Build Status](http://ci.neikos.me/v1/badge/github.com/waysome/waysome/status.svg?branch=develop)](http://ci.neikos.me/github.com/waysome/waysome)

[2014-12-12 13:49] matthiasbeyer opened #594 "Implement set deserialization in the json deserializer"
The deserializer is not yet able to deserialize sets.

[2014-12-12 14:02] neithernut commented on #594
Not possible ATM, as we have no relyable mepping from an id to an object.
Suggest tagging it as reopen-later and close it now.

[2014-12-12 14:05] #584 closed, assigned to matthiasbeyer

[2014-12-12 14:09] neithernut commented on #592
I already annotated the PR: the README.md will also be shipped. Do we want the badges in a shipped README?

[2014-12-12 14:10] matthiasbeyer commented on #594
We still can implement the set support for it, for nils, ints and strings. The rest can be implemented on top of that really easily!

[2014-12-12 14:13] neithernut commented on #594
K, but don't expect it to be of any use then.

[2014-12-12 14:17] matthiasbeyer commented on #594
Why not? We need to deserialze sets, anyway! Deserializing of object id's inside sets is just an additional feature of the set deserialization, then... ?

[2014-12-12 14:24] matthiasbeyer commented on #594
Fuck.

`ws_set`, which is underneath `ws_value_set` can only take `ws_object`s. I don't know whether this is what you mean, ... but I see that this isn't that easy without a huge amount of overhead...

[2014-12-12 15:25] matthiasbeyer opened #597 "Implement `ws_queue` type"
Related to #565.

(As we have nothing to do, no issues are open we can actually do, I open this issue now and assume that it will be required for #565).

[2014-12-12 15:25] matthiasbeyer commented on #597
Will be done with @TheNeikos in pair-programming.

[2014-12-12 15:26] TheNeikos commented on #583
I don't think that translating it to the locale of the user is a good idea.

Reasons for that:
- Other locales have weird buttons, sometimes which are hard to enter or process. (And don't look good in a config)
- It is easy to ship a program similar to `xev` that will output the keycodes
- It makes it easy for us to implement it (which is a huge plus)

[2014-12-12 16:11] neithernut commented on #583
All those points are valid, but still, the hotkeys are not very readable the way they are presented now.
If it wouldn't confuse user's I had suggested supporting representation of keycodes as key names as present on an standart US PC keyboard (e.g. as in `linux/input.h`).

[2014-12-12 16:24] neithernut commented on #594
You're welcome.

[2014-12-12 16:24] #594 closed, assigned to matthiasbeyer

[2014-12-12 16:34] TheNeikos commented on #583
Yup, I forgot to mention that I envisioned it like that.

[2014-12-12 16:35] matthiasbeyer commented on #583
I agree with you guys, but I think this is not important or should be solved within the project phase. It's simply a convenience thing, so I'd suggest to put this on hold until we have time for it. There is more important stuff to do!

[2014-12-12 18:34] neithernut commented on #583
Well, you said to me something like "spam issues so I have something to do". So don't complain if they are not of a high priority.

[2014-12-12 19:49] matthiasbeyer commented on #583
@TheNeikos said that with "spam", but yes...

[2014-12-13 15:47] #587 closed, assigned to matthiasbeyer

[2014-12-13 19:14] #563 closed, assigned to matthiasbeyer

[2014-12-14 15:14] xVin opened #601 "Problem with multiple transactions"
After just testing waysome on my machine @matthiasbeyer and me found out that if two different transaction are added to waysome.json (we used the two transactions from the wiki), we have the following scenario:
- (1) Shutdown, (2) Terminal: Shutdown doesnt work, terminal can be opened (but no input possible, cursor can't be moved anymore)
- (1) Terminal, (2) Shutdown: Segfault on trying to execute

[2014-12-15 09:13] #530 closed, assigned to xVin

[2014-12-15 12:23] matthiasbeyer commented on #601
Can't reproduce:

---

Can reproduce:

---

Can reproduce:

(when trying to open the terminal -> segfault) Backtrace:

[code]

[2014-12-17 01:20] TheNeikos opened #606 "How to support EGL"
After a nice chat on #wayland on freenode.net I found out how to use egl stuff and how we will use it.

Basically it goes like this:

On startup we create a GBMBuffer large enough for the display. We scan that one out (send it to the graphics card).

This can be done as seen here: http://virtuousgeek.org/blog/index.php/jbarnes

That is for the setup. Now we basically have a gbm render target where

[2014-12-17 01:53] neithernut commented on #606
Nice, so as soon as the rendering is up and running, we can also start accepting drm buffers.

[2014-12-17 02:02] TheNeikos commented on #606
No, no, this is for EGLBuffers! The part with `eglCreateImage` is what we use to get an eglImage from a wl_buffer! And we then get the texture of /that/ and composite it on the screen :)

[2014-12-17 02:15] neithernut commented on #606
Ok, but it _still_ provides only additional functionality once we got the initial EGL compositing up and running (using shared memory buffers for now).

[2014-12-17 02:22] TheNeikos commented on #606
I am not certain that it doesn't do that already. I asked in the irc again, just to be sure.

[2014-12-17 02:24] neithernut commented on #606
If I understood the bit of documentation I found right, this _only_ concerns opaque handles for data which already _is_ in VRAM. The shm buffer data is not.

[2014-12-17 02:26] TheNeikos commented on #606
Okay, so we talked a bit, he said nope, you can't (thanks god for that, would have been weird).

But he also said that using lots of textures is fine really as you practically do not run out of textures.

[2014-12-17 02:28] TheNeikos commented on #606
(The guy is one of the developers of weston, well, a contributor to be exact)

Yup, basically he confirmed what we suspected. The vram is already an atlassed texture map!

[2014-12-17 02:29] TheNeikos commented on #606
Now, with all that information, any ideas for a roadmap? I want this to be done /before/ friday! So this leaves today and tomorrow!!

[2014-12-17 02:58] neithernut commented on #606
Well, ...
- [x] I got one PR which should pretty mush ready for merge, as soon as the CI has the GLES2 dev files installed.
- [x] Once that is merged, I can rebase my texture area branch and adapt it to the new buffer format representation (there are 3 lines to be changed, maybe 4). I _could_ rip out the entire texture area stuff, so we _only_ have textures, but I'm not quite sure about it. You ma

[2014-12-17 03:09] TheNeikos commented on #606
I would prefer that we drop the texture areas. It does not make sense to me to support that part of the code.

[2014-12-17 07:34] matthiasbeyer commented on #606
I support everything which gives us functionality which shows the user that we can do stuff.

So, if I shall implement stuff, I will do it, of course!

If we have functionality which _could_, in any way, be implemented later (feb, march, ...) I would prefer to do it then and now fully focus on stuff which gives us user experience. Remember: After christmas there are only 2 weeks until the final pr

[2014-12-17 07:39] xVin commented on #606
I agree with @matthiasbeyer

[2014-12-17 11:35] neithernut commented on #606
I agree, too, but in what way is it relevant here?

[2014-12-17 13:09] matthiasbeyer commented on #601
After some investigation:

The segfaults comes from [here](https://github.com/waysome/waysome/blob/develop/src/input/hotkey_dag.c#L189). The cause looks like this:

[code]

This looks really strange, `0x600000005` is not even a valid address as far as I know...

After I checked the iteration, I found out that, at some point, the iteration stops beeing sane and iterates over addresses which are not

[2014-12-17 14:26] matthiasbeyer commented on #601
The `depth` of `15` we talked about comes from [here](https://github.com/waysome/waysome/blob/develop/src/input/hotkey_dag.c#L389), which increments straight from zero to `15`.

As this code is not my department, I cannot tell whether there is a bug somewhere or not...

[2014-12-17 14:56] neithernut commented on #601
I'll have a look into that.

[2014-12-17 18:10] TheNeikos commented on #601
That code is also not obvious to me, do you increment tab and then dereference it or do you increment after dereferencing?

[2014-12-17 19:13] matthiasbeyer commented on #568
Assigned low prio tag because this issue seems to be resolved already.

[2014-12-17 19:31] neithernut commented on #601
Good point.

[2014-12-17 21:26] neithernut opened #611 "Fix gl_error usage"
When merging #602, we forgot to fix the `gl_error()` usage. The problem with `gl_error()` is that errors are buffered in a FIFO-like manner, so one call to `gl_error()` doesn't tell you about the function you just ran. There are two possibilities to solve this:
- Just assume that `gl_` calls jsut work
- Flush the error log by repeatedly calling `gl_error()` until you get "no error" (the asignee sh

[2014-12-17 22:17] neithernut opened #614 "Add automatic format detection in image loader"
We may need to support loading both RGBA and ARGB. Hence, the image loading code should be capable of supporting both formats. For this to be achieved, the following steps have to be taken:
- [x] Add a new field to the mappings in `src/util/egl.{h,c}` for the libpng formats
- [x] Add a new parameter to `ws_image_buffer_from_png()` for passing the format.

Note that the issues which this issue targ

[2014-12-17 23:12] #611 closed, assigned to matthiasbeyer

[2014-12-18 00:53] #614 closed, assigned to nobody

[2014-12-18 01:22] #597 closed, assigned to matthiasbeyer

[2014-12-18 02:46] neithernut opened #619 "Make position of surfaces signed"
...and rename them to offsets.
If we want to support subsurfaces, this is the way to go. And better do it now than later, wespecially if _some_ people are carving for issues to assign themselfes.

[2014-12-18 02:49] neithernut opened #620 "Add z-index to surfaces"
We'll need a z-index at some point.
This also includes a way to set them via the API. Kind of relates to #467.

[2014-12-18 02:54] neithernut opened #621 "Implement xdg shell pong"
Title sais it all.
Kind of relates to #467.

[2014-12-18 02:56] neithernut opened #622 "Implement shell surface pong"
Title sais it all.
Kind of relates to #467.

[2014-12-18 03:10] neithernut commented on #573
Since nothing was going on here: is this functionality requested or should we allocate resources for solving it? Or should we close this issue (maybe with a reopen-later label assigned to it)?

[2014-12-18 11:26] matthiasbeyer commented on #573
I'm not sure about this one. I guess we should be order-agnostic by default, shouldn't we? I'm not entirely sure about it, though!

[2014-12-18 12:22] neithernut commented on #170
As shown by the newest addition, the decision of having the wayland buffer _contain_ a `ws_buffer`  was right.

[2014-12-18 12:22] #170 closed, assigned to neithernut

[2014-12-18 13:46] matthiasbeyer commented on #621
Just looked up the xdg shell pong of swc. The implementation is empty.

What do we need to do here?

[2014-12-18 13:47] matthiasbeyer commented on #622
Same as for the xdg shell pong implementation here: The implementation of this function ins swc is empty. What do we need to do here?

[2014-12-18 14:04] neithernut commented on #622
Emit a signal of some sort. Refer to the wayland documentation.

[2014-12-18 14:04] neithernut commented on #621
Look at the protocol header.

[2014-12-18 15:18] neithernut opened #627 "Add command for modification and query of attributes"
This should go into `src/command/object.c`.

[2014-12-18 22:51] neithernut opened #628 "Make attribute getter and setter consider basetype attributes"
The getter and setter facilities currently only look for the attribute in the table attached to the type itself but not in the base type(s).

[2014-12-18 22:52] neithernut commented on #577
I think this can now be closed.

[2014-12-18 22:52] #577 closed, assigned to TheNeikos

[2014-12-19 02:42] TheNeikos commented on #573
Hm... I think this way makes sense.

For example, you can have Ctrl + Alt + Q, to get there you press Ctrl, Ctrl + Alt , then Ctrl + Alt + Q.

This means that all these combinations are valid to get there: `{Ctrl, Alt, Q}^2` which is veery restrictive imo.

You would have to make sure that if you press Ctrl + Q + Alt you don't have Ctrl+Q mapped to anything.

[2014-12-19 12:40] neithernut commented on #573
That's one of the reasons we have decided not to do it in the first place. Making key-combos order-agnostic _entirely_ is out of the question here.
As already hinted, _parts_ may still be order-agnostic, e.g. the order the Mod-keys are pressed.

[2014-12-19 12:42] #627 closed, assigned to matthiasbeyer

[2014-12-19 16:57] neithernut commented on #601
I had a look at the piece of code, but I didn't find any obvious mistake by simply looking at it, I'll investigate further.

Anyways, _one_ think I noticed is that when running the debugger, the loop body actually never gets executed if using the default config, sicne it only adds one key combo. This issue mentioned using the transactions from the wiki. Were they _added_ to the config, or did they

[2014-12-20 12:15] matthiasbeyer commented on #601
The points in the issue mention which transactions are in the config. The parentheses tells at which position (which first, which second...)

[2014-12-20 15:07] neithernut commented on #601
In this case I have to wonder how the bug was triggered in the first place.

---

I just re-read the report @matthiasbeyer produced after a debug session: he actually _had_ two hotkeys added to the DAG.

[2014-12-20 16:00] neithernut opened #629 "Kill off zombies"
Our exec-utility forks and executes processes, which end up as children of waysome. If those processes terminate, they end up as zombie processes which are attached to waysome. Killing off those zombie-processes is not yet done. Doing it is failry simple. You have to:
- Add an ev-watcher for `SIGCHILD`
- Use `waitpid` or `waitid` to "query" the child process' pid/status (in a non-blocking manner)

[2014-12-21 02:29] TheNeikos opened #632 "Use a linked list instead of a set for abstract surfaces"
The motivation for this change is quite simple: We can skip having Z-Indexes by drawing from the back to front (which is how it's usually done).

Everytime a window, or area, gets the focus we put it at the top of the list and thus draw it at the front.

Thus the z-order feels natural in relation to when the application was last used.

[2014-12-21 09:48] matthiasbeyer commented on #632
I don't think this should be done.

Reason:

The abstract shell surface represents a window, as far as I know. We clearly want to have _sets_ of windows, the user can modify. So making the abstract shell surface stored inside a LL is not desired at all, as it would prevent us from doing the set thing.

[2014-12-21 11:04] matthiasbeyer opened #633 "`ws_buffer_transfer2texture()' segfaults"
This is because the iteration does not stop at a certain level. (The condition in the basetype iteration is completely wrong here)

Where to stop? At `ws_wayland_obj`?

[2014-12-21 11:21] matthiasbeyer commented on #633
After some investigation:
`transfer2texture` gets a `ws_wayland_buffer`, which is _not_ a `ws_buffer`, whereas the comparison with `ws_buffer_type_id` completely fails here...

I'm not sure what _I_ am doing wrong here, or am I doing wrong here at all... We had an issue whether `ws_wayland_buffer` shall be an `ws_buffer` ( #170 ), but it got closed with a comment from @neithernut that it shouldn't

[2014-12-21 11:34] neithernut commented on #633
You have to _not_ use the `ws_wayland_buffer` directly but the `ws_buffer` you get through `ws_wayland_buffer_get_buffer()`!
This is not a bug but malicious usage of the object. I think I'll add a big `@warning` to the datatype, so I can shout out "RTFM" if this happens again.

---

Turns out the idiot who did a direct cast here was me.

[2014-12-21 11:34] #633 closed, assigned to matthiasbeyer

[2014-12-21 11:43] neithernut commented on #632
Having to re-arrange the linked list when moving a window to the background is indeed disadvangateous. But do we actually need this functionality? We don't do the drawing manually, anyways. I thought all we had to do was adding the z-index to the VBO attached to each surface (e.g. as depth).

[2014-12-21 19:43] TheNeikos commented on #632
This does not prevent you from doing that.

Please re-read, nothing gets moved to the background, only the active window gets popped to the top.

It's never that easy. You usually do z-indexing yes, but it does not make much sense to actually do it here when it can be done through controlled emergent behaviour. Z-Index is not cost free.

[2014-12-21 21:51] matthiasbeyer commented on #632
This is indeed a cool advantage of a LL! Using a set while doing z-indexing is indeed not that nice to work around, but we could possibly change the hashing function for windows, resulting in something like: `hash = zindex * 1000 + (oldhash % 1000)`, so we can get an ordered iteration over the windows, resulting in linked-list style blitting iteration.

Anyways, this stuff should clearly be discus

[2014-12-21 21:56] neithernut commented on #632
Making the hash function depend on some _modifyable_ attribute is a **really, really bad idea**! It breaks _any_ reasonable implementation of a hash-table, including libreset.

---

I wouldn't hard-code something like "if an application has focus, bring it to the top" (except as a "default"), since there _may_ be some users which have ... interesting usecases. Having the keyboard- and pointer-focu

[2014-12-22 09:45] matthiasbeyer commented on #632
I think we should stay with the set approach we started with from the outset. This way we keep the union-/intersection-/etcetc-thing we always wanted! There are clearly advantages and disadvantages, of course, but both of them have them...

[2014-12-22 09:56] neithernut commented on #620
The API stuff is still missing, but as this has to be done for _all_ the attributes, I'll close this issue now.

[2014-12-22 09:56] #620 closed, assigned to matthiasbeyer

[2014-12-22 10:01] neithernut opened #635 "Sanitize error handling in JSON serializer"
The JSON-serializer's error handling consists mostly of TODOs.
Relates to #467.

[2014-12-22 10:04] neithernut opened #636 "Sanitize error handling in JSON deserializer"
The error handling in the JSON deserializer callbacks consists of TODOs.
Relates to #467.

[2014-12-22 10:08] neithernut opened #637 "Port attributes of abstract shell surface to attribute table"
This includes removing teh old getter/setter functions.

[2014-12-22 10:09] neithernut opened #638 "Add position to abstract shell surface"
Title sais it all. Blocks #637.

[2014-12-22 10:56] matthiasbeyer commented on #635
@neithernut : Please comment on [this](https://github.com/waysome/waysome/blob/develop/src/serialize/json/serializer.c#L268) what to do? Do I need to free this buffer or does this someone else?

[2014-12-22 11:42] matthiasbeyer commented on #637
I can do this, if you want.

[2014-12-22 11:42] matthiasbeyer commented on #638
I can do this if you want.

[2014-12-22 14:08] neithernut commented on #635
You have to unref it once. (it's ref'd by a `ws_serializer` method)

[2014-12-22 14:27] neithernut opened #640 "Close down a connection if the deserializer reports an error"
Something which simply has to be done.

[2014-12-22 14:29] neithernut opened #641 "Add a method for closing down a connection to the connection manager."
Blocks #640.

[2014-12-23 10:41] matthiasbeyer commented on #637
Will wait for #638 / #643

[2014-12-23 11:11] #640 closed, assigned to neithernut

[2014-12-23 11:11] #641 closed, assigned to neithernut

[2014-12-23 15:27] matthiasbeyer commented on #637
Shall width and height members be part of the `struct ws_abstract_shell_surface`? Should this be done in another PR, maybe?

[2014-12-23 15:37] neithernut commented on #637
I'm not yet quite sure about this, would decide this later.

[2014-12-23 15:43] matthiasbeyer commented on #637
So I'll submit my attribute-table PR now, but note that it might should wait on a decision on this...

[2014-12-26 21:28] #636 closed, assigned to matthiasbeyer

[2014-12-26 22:20] #638 closed, assigned to matthiasbeyer

[2014-12-26 22:21] #637 closed, assigned to matthiasbeyer

[2014-12-27 09:23] #635 closed, assigned to matthiasbeyer

[2014-12-27 09:45] neithernut opened #648 "Add compare and hash callback to connection processor"
Needs to be implemented for automatically closing a connection to work.

[2014-12-27 10:50] neithernut opened #650 "Sanitize connection processor semantics"
As connections last as long as the connection does, and to mitigate some potential race-conditions, connection and disconnection of connection processors should be moved to extra methods.

[2014-12-27 11:22] #628 closed, assigned to matthiasbeyer

[2014-12-27 11:23] #648 closed, assigned to matthiasbeyer

[2014-12-27 11:42] matthiasbeyer commented on #622
Sounds like @TheNeikos would set this on hold, so I will do this now.

[2014-12-27 11:48] #650 closed, assigned to neithernut

[2014-12-27 15:47] matthiasbeyer opened #652 "Cannot connect() from either Python nor Ruby to Unix socket"
I tried the following:

in Ruby:

[code]

and Python:

[code]

So it seems that something is broken. I ran waysome in the debugger for the Ruby
approach, but the `create_connection_cb` isn't called.

[2014-12-27 16:18] neithernut commented on #652
You should check whether:
- The accepting callback is set up correctly **using the debugger** (e.g. whether `socket()`, `bind()` and `listen()` are called)
- The handler for accepting is called
- The return value of `accept()` or whether it's even called at all

[2014-12-27 20:33] matthiasbeyer commented on #652
I re-checked this stuff.

It works whenever the socket file does not exist before starting waysome. So it seems that the cleanup does not work properly. I will try fix this now.

[2014-12-27 20:48] #629 closed, assigned to nobody

[2014-12-28 01:54] #652 closed, assigned to matthiasbeyer

[2014-12-28 15:41] #601 closed, assigned to neithernut

[2014-12-28 15:45] neithernut commented on #568
I'll close this now. Reopen if this or a similar issue shows up again.

[2014-12-28 15:46] #568 closed, assigned to nobody

[2014-12-29 16:48] llohse opened #658 "31c3 location"
How do I find you guys? I don't see your assembly ;)

[2014-12-29 17:05] neithernut commented on #658
It's the FuWaR assembly. It's beween the Lobby and the Hack-Center in the hall/room with the Spinny-Things hanging from the ceiling, the awesome tunnel and the info-desk. We're under one of those spinny-things _not_ spinnging, near ~~the Gehaimorganisation and BACKSPACE~~ Hackerspace Saarbrücken. There's a little improviced piece of paper hanging from the ceiling.
Ask for Matze, Jule or Neikos/Mar

[2014-12-31 14:25] neithernut commented on #658
The congress is over now, so we're obviously not there any more.

[2014-12-31 14:25] #658 closed, assigned to nobody

[2015-01-09 21:25] TheNeikos opened #659 "Having two monitors connected tries to bind the egl display twice to the wayland display"
This is a non issue atm as we don't support multiple monitors yet, but it's good to know that having two will actually keep you from using one!

[2015-01-09 22:53] TheNeikos opened #660 "Waysome hangs if it doesn't find a config file"

[2015-01-13 13:01] neithernut commented on #660
Question is whether `waysome` should fail or the built-in defaults are sufficient. An error/warning should be printed in either case.

[2015-01-13 14:30] TheNeikos commented on #660
It should exit cleanly if it can't be configured, and I do mean the one that is given per default.

[2015-04-13 03:09] ghost opened #662 "Question: Dynamic WM's"
Can This Library be used to implement an Openbox style, Floating Window, Server Side Decorated Window Manager? What would that entail?

[2015-04-14 15:38] neithernut commented on #662
Waysome is not (yet) capable of either rendering server side decorations or providing drag&drop windows or surfaces.
The first feature might require bringing in a new kind of "surface", as waysome-clients are essentially required to draw their own window-decorations --at least ATM. Just slapping some decorations around some surface would cause applications like the weston-terminal to have two kind

[2015-04-18 19:33] ghost commented on #662
My advice keep it in C that way people can write wrappers/bindings to your product. Thanks.

[2015-04-19 11:40] matthiasbeyer commented on #662
@dark-yux Well, that's not a really strong argument for C, as this holds true for C++, Rust or any other possible language as well.

[2015-04-20 12:01] neithernut commented on #662
Well, waysome isn't exactly a library, so the choice of language is not confined by presence of symbol mangling. However, we were going to ship interfacing libraries some time in the future and there will most definitely be a C library amongst them.

[2015-07-18 02:59] IAPR opened #663 "Project seems dead."

[2015-07-18 11:09] matthiasbeyer commented on #663
Unfortunately yes. I guess we are dead here.

[2015-07-18 13:19] #663 closed, assigned to nobody

[2015-07-18 13:19] IAPR commented on #663
Just wanting to know.